In [11]:
#123456789를 입력하면 천단위로 콤마 구분 출력
a=123456789
print("{:,}".format(a))

123,456,789

In [ ]:
Q=["요소A","요소B","요소C"]를 파이썬 내장함수를 이용하여 다음과 같이 출력
0번째 요소는 요소A입니다
2번째 - 
3번째-
list_1 = ['a','b','c']
for i,value in enumerate(list_1):
    print('{}번째 요소는 {}입니다.'.format(i,value))

In [10]:
#97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하기 (튜플로 출력)

a= divmod(97,40)
print(a)

(2, 17)

In [ ]:
W=[52,273,32,72,100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램 작성
단 모든 예외처리 수행 특히 ValueError와 IndexError는 별도 구분해서 예외처리한후 예외처리 완료를 마지막으로 출력


4입력시 
정수입력> 4
4번째요소: 100 예외처리 완료

정수입력>가
정수를 입력해주세요! 예외처리완료

정수입력>5
리스트의 인덱스를 벗어났어요! 예외처리완료




list_num = [52,273,32,72,100]
try:
    num_input = int(input('정수 입력> '))
    print('{}번째 요소: {}'.format(num_input, list_num[num_input]))
    예외.발생()
except ValueError as exception:
    print('정수를 입력해 주세요.')
    print(type(exception),exception)
except IndexError as exception:
    print('리스트의 인덱스를 벗어났어요.')
    print(type(exception),exception)

except Exception as e:
    print(e)
    
finally:
    print('모든 예외 처리')

In [ ]:
#사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째와 두 번째중 큰 숫자를 구하는 프로그램

a=input("Enter first number: ")
b=input("Enter second number: ")
if (a >= b):
    
elif (b >= a) and (b >= c):
    largest=b
else:
    largest=c
print(largest, "is the greatest of all")

In [ ]:
1부터 100까지 다음과같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하기

In [19]:
#정규표현식에서 지역코드만 출력
import re
text="문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p=re.compile('\d+-\d+-\d+') # (r'\b[0-9-]+\b')
z=(p.search(text))
print(z.group())

032-232-3245

In [ ]:
#'abcdefghij'에 중첩을 적용한 서브그룹 5개로 컴파일하여
#group()함수를 이용해서 'abcdefghi'와 'e'출력

In [ ]:
#ex )
import re

text = "I like apble And abple"
text_mod = re.sub('apble|abple',"apple",text)
print (text_mod)

In [20]:
import re
text='abcdefghij'
text_1= re.sub('abcdefghij','abcdefghi',text)
text_2= re.sub('abcdefghi','e',text_1)

print(text_1)
print(text_2)

abcdefghi
e

In [16]:
#[0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 a를 삭제후 리스트로 출력

list_2=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
list_2.remove(9)
list_2.remove('a')
print(list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [ ]:
500-1000사이 정수중 5와 7의 공배수의 합

In [ ]:
[]를 채워서 다음 출력
numbers=[1,2,3,4,5,6,7,8,9]
output=[[],[],[]]

for number in numbers:
    output[     ].append(number)
print(output)

In [ ]:
numbers내부에 들어있는 숫자가 몇 번 등장하는지 출력하는 코드 
numbers=[3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

X= sorted(set(numbers))

for a in X:
    print("{}는 numbers에 {}번 등장합니다.".format(a,numbers.count(a)))

In [ ]:
# 클래스 country 완성해서 아래와같이 출력
class Country:
    def country(self,a):
        self.a=a
    def people(self.b):
        self.b=b
    def where(self.c):
        self.c=c

class Korea(Country):
    def desc(self):
        
        
    def desc1(self,gnp):
        self.gnp=gnp
        print('1 인당 gnp는 USD %d만 입니다.' %self.gnp)
        

obj= Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다
1인당 gnp는 USD3 마ㄴ입니다

In [8]:
# 사칙연산 수행 클래스 작성해서 객체를 만들고 / 2개의 정수 10,5를 입력한 후 연산결과를 포멧 이용하여 출력

class cal_:
    def setdata(self, a,b):
        self.a=a
        self.b=b
    def add(self):
        result= self.a+self.b
        return result
    def sub(self):
        result=self.a-self.b
        return result
    def div(self):
        result= self.a/self.b
        return result
    def mul(self):
        result= self.a*self.b

p=cal_()
p.setdata(10,5)
p.add()

15

In [ ]:
#올해 경과된 날짜수 계산 출력 
import datetime
f=datetime.datetime(2021,1,1).date()
t=datetime.datetime.today().date()
print(str(t-f))

In [ ]:
#2015년 인기순 상위 5개 여아이름별 출생아수 출력
for y in range(1880,2016):
    with open('data/names/yob%d.txt' %y,'r') as f:
        count = 0
        while 1:
            line = f.readline()
            if not line:
                break
            line = line.split(',')
            count += int(line[2])
                
                
        print (f"{y}년도 출생아 수 : {count}")