## 빅데이터 기반 AI 응용 솔루션 개발자 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 21.07.09
- 성명 :채 승혜
- 점수 :

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 5, 6, 7를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [6]:
numbers = [5, 15, 6, 20, 7, 25]
a=[]
for number in numbers:
    if number <10:
        a.append(number)
    else:
        pass
print(a)

[5, 6, 7]

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서 [12, 14, 16, 18, 20], [6]를 출력하세요.(내장함수 2개 사용 필수)

In [7]:
# 함수를 선언합니다.
def power(item):
    return item + item
def under_7(item):
    return item < 7

# 변수를 선언합니다.
list_input_a = [ 6,  7,  8,  9, 10]

In [13]:
A= list(map(power,list_input_a))
B= list(filter(under_7, list_input_a))

print(A)
print(B)

[12, 14, 16, 18, 20]
[6]

#### 3. 정수를 입력하면 3의 배수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '3의 배수', '3의 배수가 아님'으로 출력). 단 정수를 입력하지 않으면 '정수를 입력해 주세요'라고 출력

In [21]:
try:
    a= int(input('정수입력>'))
    if a%3==0:
        print('3의 배수')
    else:
        print('3의 배수가 아님')
except ValueError as exception:
    print('정수를 입력해주세요')

정수입력>d
정수를 입력해주세요

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 더한 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [23]:
X= lambda a,b:a**b+a*b

print(X(2,5))
print(X(5,2))

42
35

#### 5. 10자리 정수를 입력한 후  콤마로 천단위를 구분하여 출력하세요.

In [24]:
a=int(input('10자리 정수 입력>'))
print('{:,}'.format(a))

10자리 정수 입력>800796575
800,796,575

#### 6. car_lists = ["마티즈", "그랜저", "제네시스"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
1번 차는 마티즈입니다.\
2번 차는 그랜저입니다.\
3번 차는 제네시스입니다.

In [26]:
car_lists = ["마티즈", "그랜저", "제네시스"]
for i,value in enumerate(car_lists):
    print('{}번 차는 {}입니다.'.format(i+1,value))

1번 차는 마티즈입니다.
2번 차는 그랜저입니다.
3번 차는 제네시스입니다.

#### 7. 100을 37로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [27]:
a=divmod(100,37)
print(a)

(2, 26)

#### 8. list_number = list(np.arange(21,26))로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 1 ~ 5 정수 입력 \
정수 입력> 5 \
5번째 요소: 25 \
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 6 입력시 \
정수 입력> 6 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [36]:
import numpy as np

list_number=list(np.arange(21,26))

try:
    a= int(input('정수 입력>'))
    print('{}번째 요소:{}'.format(list_number.index(a)+1,a))
except ValueError as exception:
    print('정수를 입력해주세요')
except IndexError as exception:
    print('리스트의 인덱스를 벗어났어요!')
finally:
    print('예외처리 완료')

정수 입력>f
정수를 입력해주세요
예외처리 완료

#### 9. 사용자로부터 서로 다른 실수 두 개를 입력받고 첫 번째 와 두 번째중 큰 실수를 구하는 프로그램을 수행하세요.

In [38]:
a=float(input('실수1 입력(실수2와 중복x)>'))
b=float(input('실수2 입력(실수1과 중복x)>'))

if a>b:
    print(a)
else:
    print(b)

실수1 입력(실수2와 중복x)>8
실수2 입력(실수1과 중복x)>10.9
10.9

#### 10. 1부터 1000까지 아래와 같은 방식으로 2개의 수를  곱했을 때 가장 큰 수를 구하세요.

 (1 * 999),(2 * 998) ...(999 * 1)

In [58]:
X=[]
a=0
while 1:
    a+=1
    b=1000-a
    X.append(a*b)
    if a==999 or b==1:
        break
        
print(max(X))

250000

#### 11. 정규표현식을 사용하여 text에서 지역코드를 제외한 넘버만 출력하세요.
text="문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [101]:
text="문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

import re

m=re.compile('(\d+-)(\d+-\d+)')
p=m.search(text)
print(p.group(2))

232-3245

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'bcdefgh'와 cdefg'를 출력하세요

In [109]:
text='abcdefghij' 
m = re.compile("a((b(c(d(e)f)g)h)i)j")
p = m.search(text)
print (p.group(2))
print (p.group(3))

bcdefgh
cdefg

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 알파벳 문자만을 리스트로 출력하세요

In [111]:
X=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
A=[]
m=re.compile('[a-z]')

for i in X:
    if str(i).isalpha()==1:
        A.append(i)

print(A)

['a', 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5의 배수이거나  7의 배수인 수의 합을 구하세요

In [112]:
sum=0
for a in range(500,1001):
    if a%5==0 or a%7==0:
        sum= sum+a
print(sum)

118394

#### 15. [    ]을 채워서 아래와 같이 출력하세요.
[[3, 6, 9], [1, 4, 7], [2, 5, 8]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[     ].append(number)
print(output)

In [113]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[number%3].append(number)
print(output)

[[3, 6, 9], [1, 4, 7], [2, 5, 8]]

####  16. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [117]:
def factorial (n):  
    if n>0:
        return n*factorial (n-1)    
    else:
        return 1   
    
print(factorial(5))
print(factorial(10))

120
3628800

#### 17. 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요(내장함수 및 정규표현식 사용)

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [123]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
A=[]
import re

for words in states:
    words = re.sub("[!?#]","",words)
    words = words.strip()
    words = words.title()
    A.append(words)

    
A

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

####  18.게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램을 작성하세요. 단, 잘못 입력시 예외 처리 필수

In [126]:
def page():
    try:
        a=int(input('게시물 총 건수>'))
        b=int(input('한 페이지에 보여줄 게시물 수>'))
        if a/b==0:
            print(a/b)
        else:
            print(a//b+1)
    except Exception as e:
        print(e)
    
page()

게시물 총 건수>80
한 페이지에 보여줄 게시물 수>6
14

#### 19. 발표할 인원을 입력하면 랜덤으로 발표자를 리스트로 출력해주는 프로그램을 작성 후 다음을 수행하세요.(중복 허용하지 않음)
- 발표자 1명
- 발표자 5명
- 발표자 28명 전원

In [ ]:
name = ['고영남', '김광훈', '김동일', '김진', '박기범', '박민아', '박시우', 
        '배송이', '송유빈', '신인철','오수문','우동주','이민찬','이범준',
        '이슬','이원진','이종현','임희진','정하림','조경림','조현정',
        '진유훈','채승혜','최윤진','최한결','최혜정','하도원','한아름']

In [140]:
import random

name = ['고영남', '김광훈', '김동일', '김진', '박기범', '박민아', '박시우', '배송이', '송유빈', '신인철',
       '양인석','오수문','우동주','이덕재','이민찬','이범준','이슬','이원진','이종현','임희진',
       '정하림','조경림','조현정','진유훈','채승혜','최윤진','최한결','최혜정','하도원','한아름']

def pres(n):
    print(random.sample(name,n))

a=pres(1)
b=pres(5)
c=pres(28)

['박시우']
['박민아', '진유훈', '최윤진', '김동일', '박시우']
['임희진', '고영남', '진유훈', '이원진', '신인철', '박시우', '송유빈', '배송이', '이종현', '정하림', '이범준', '이덕재', '우동주', '최혜정', '채승혜', '김광훈', '김진', '박기범', '최한결', '김동일', '박민아', '하도원', '이민찬', '한아름', '조현정', '양인석', '최윤진', '이슬']

#### 20. 네이버 통합검색 사이트에서 빅데이터를 입력한 후 관련 뉴스의 타이틀만 t선택하여 아래 포멧으로 출력하세요.

In [ ]:
1.'4년만에'…6개 보험사, 공공의료데이터 받는다(종합)
2.부산시 금융 빅데이터 센터 구축 공모사업 선정
3."중 의료 빅데이터업체 미 상장 보류…당국 규제강화 후 첫사례"
4.소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다
5.KISA, 사이버보안 8억건 'AI 데이터셋' 구축 추진
6.농식품 공공데이터 개방…가격·요리정보 활용 높아
7.과학화훈련단 빅데이터 활용한 프로그램 만든다
8.세종대, 하계방학 빅데이터 분석실무2급 프로그램 운영
9.한국농수산식품유통공사, 범정부 빅데이터 플랫폼 연계 상담회 개최
10.KISA, '사이버보안' AI 데이터셋 구축 착수

In [161]:
import requests
from bs4 import BeautifulSoup

url = 'https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0&oquery=%EB%B9%85%EB%8D%B0%EC%9D%B4xj&tqi=hMP26sprvmZssUOKGZdssssst1w-266545'
response = requests.get(url).text
soup = BeautifulSoup(response,'html.parser')
a = soup.select('a.news_tit')

for i in range(len(a)):
    print('{}. {}'.format(i+1, a[i].text))

1. '교육빅데이터위원회' 출범…교육데이터 개방·활용 논의
2. "中의료 빅데이터업체 ‘링크닥’ 美상장 보류"…디디추싱 영향?
3. 부산시 ‘금융 빅데이터 센터’ 구축…디지털혁신 가속화
4. 한전의 '전력 빅데이터'와 하나은행의 '금융 인센티브' 결합
5. 삼성생명 등 6개 보험사, '공공의료 데이터 활용' 길 열렸다
6. ’Nowcast 포털‘로 빅데이터 기반 경제·사회 속보성 지표 서비스
7. 대학교 브랜드평판 6월 빅데이터 분석 1위는 서울대
8. 소비자원, 빅데이터로 소비자 분쟁 지원...中企 대응력 키운다
9. [빅데이터MSI] 9일 오전 주식시장 심리 3단계 '약간나쁨'
10. "진짜 돈되는 보고서 따로 있다"…'빅데이터 투자' 특허 출원

232-3245