In [154]:
#Q. 내장함수를 이용해서 list=[0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.

list_1=[0,1,2,3,4,5,6]
list_1.remove(2)
print(list_1)

[0, 1, 3, 4, 5, 6]

In [155]:
# Q. 내장함수를 이용해서 list = [0, 1, 2, 3, 4, 5, 6]에서 모든 원소를 삭제 후 
# 출력하세요.

list_2=[0,1,2,3,4,5,6]
list_2.clear()
print(list_2)

[]

In [167]:
# Q. list = [0, 1, 2, 3, 4, 5, 6]에 3, 7이 포함되어 있는 지 확인하세요.

list_3 = [0, 1, 2, 3, 4, 5, 6]
print(3 in list_3 , 7 in list_3)

True False

In [49]:
# Q. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

X= sorted(set(numbers))

for a in X:
    print("{}는 numbers에 {}번 등장합니다.".format(a,numbers.count(a)))

2는 numbers에 2번 등장합니다.
3는 numbers에 4번 등장합니다.
4는 numbers에 2번 등장합니다.
5는 numbers에 2번 등장합니다.
6는 numbers에 2번 등장합니다.
7는 numbers에 2번 등장합니다.
8는 numbers에 2번 등장합니다.
9는 numbers에 2번 등장합니다.

In [166]:
# Q. list를 [6, 5, 4, 3, 2, 1, 0]으로 출력하세요(2가지 방법)

A = [0, 1, 2, 3, 4, 5, 6]
print (sorted(A,reverse=True))

[6, 5, 4, 3, 2, 1, 0]

In [117]:
A = [0, 1, 2, 3, 4, 5, 6]
A.reverse()
print(A)

[6, 5, 4, 3, 2, 1, 0]

In [165]:
# Q. list = ['a','b','c']을 for문을 사용해서 아래와 같이 출력하세요.
# 1번째는 a입니다.
# 2번째는 b입니다.
# 3번째는 c입니다.

list_4 = ['a','b','c']
for i in list_4:
    print('{}번째는 {}입니다.'.format(list_4.index(i)+1,i))

1번째는 a입니다.
2번째는 b입니다.
3번째는 c입니다.

In [164]:
# Q. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요
#LIST 안에서 만들면 됨 
list_5 = []
for i in range(0,20,2):
    list_5.append(i*i)
print(list_5)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [90]:
print( [i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [170]:
# Q. list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]에서 아래와 같이 출력하세요
# [0, 2, 4, 6, 8]
# [1, 3, 5, 7, 9]
# [2, 1, 0]

list_6 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(list_6[0:10:2])
print(list_6[1:10:2])

A= list_6[0:3]
A.reverse()
print(A)

##[0::2]

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[2, 1, 0]

In [171]:
# Q. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

# a::b::c
X= ['a','b','c']
A="::".join(X)
print(A)

a::b::c

In [3]:
# Q. 사용자 함수를 이용해서 여러개의 숫자를 입력하면 그 숫자들의 곱을 구하세요.

def num_s(*args):
    mul=1
    for a in args:
        mul*=a
    return mul

num_s(2,4,5,6,8)

1920

In [22]:
# Q.두개의 숫자를 인자로 적용하면 4칙 연산을 수행하는 사용자 함수를 작성한 후 
# 5,3을 대입한 결과를 튜플로 출력하세요. 단, 소수점은 없게 처리

def oper (a,b):
    x=( a+b, a-b ,a*b ,a//b )
    print(x)
    
oper(5,3)

(8, 2, 15, 1)

In [29]:
# Q. 뺄셈, 나눗셈 멀티 계산 함수를 작성
    
def sub_div(choice, *args): 
    if choice =='sub':
        result=0
        for i in args:
            result -=i
            
    elif choice =='div':
        result=1
        for i in args:
            result/=i
            
    return result

print(sub_div('sub',10,5,1))
sub_div('div',10,5,1)

-16

0.02

In [35]:
# Q. 아래를 완성하여 2를 출력하세요.

a = 3
def vartest(a):
    a -= 1
    return a

print(vartest(a))

2
3

In [56]:
# Q. 데이터를 입력하지 않으면 종료되는 코딩을 수행하세요. 
# 단 반복적으로 작업을 수행할 수 있음.

while 1:
    A= input('데이터를 입력해주세요>')

    if A != "":
        print(A)
        continue
    
    else:
        print('데이터를 입력하지 않아 프로그램이 종료됩니다')
        break

데이터를 입력해주세요>호랑이
호랑이
데이터를 입력해주세요>토끼
토끼
데이터를 입력해주세요>메롱
메롱
데이터를 입력해주세요>
데이터를 입력하지 않아 프로그램이 종료됩니다

In [82]:
# Q. 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

def factorial(n):
    result=1
    for a in range(1,n+1):
        result*=a
n= int(input('factorial을 구할 수를 입력해주세요>'))
print('{}의 factorial은 {}입니다.'.format(n,result))

n= int(input('factorial을 구할 수를 입력해주세요>'))
print('{}의 factorial은 {}입니다.'.format(n,result))

factorial을 구할 수를 입력해주세요>5
5의 factorial은 120입니다.
factorial을 구할 수를 입력해주세요>10
10의 factorial은 120입니다.

In [74]:
# Q. 재귀란 '자기자신을 호출하는 것'을 의미한다. 재귀함수를 이용해서 팩토리얼을 구하는 사용자 함수를 
# 작성하고 1!, 5!, 10!를 구하세요.
# factorial(n) = n * factorial(n-1) (n >= 1)

F1= int(input('factorial을 구할 수를 입력해주세요>'))
F2= int(input('factorial을 구할 수를 입력해주세요>'))
F3= int(input('factorial을 구할 수를 입력해주세요>'))

def factorial (n):
    if n>0:
        return n*factorial (n-1)
    else:
        return 1

print ('F1의 factorial>',factorial(F1))
print ('F2의 factorial>',factorial(F2))
print ('F3의 factorial>',factorial(F3))

factorial을 구할 수를 입력해주세요>1
factorial을 구할 수를 입력해주세요>5
factorial을 구할 수를 입력해주세요>10
F1의 factorial> 1
F2의 factorial> 120
F3의 factorial> 3628800

In [118]:
# Q. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 
# 면적과 둘레를 구하세요

def circle (r):
    pi=3.14
    area= r*r*pi
    ro= 2*r*pi
    return ('원의 면적>{:0.2f} , 원의 둘레>{:0.2f}'.fortmat(area,ro))
    
r= int(input('원의 반지름을 입력해주세요>'))
print(circle)


##함수 주소? 뜨는데 값으로 출력어케하지

원의 반지름을 입력해주세요>5
<function circle at 0x000002438C66D8B0>

원의 반지름을 입력해주세요>5
<function rr at 0x000002438C86B280>

In [ ]:
<function rr at 0x000002438C86B280>

In [151]:
# Q. '안녕!'을 10번 출력하는 사용자 함수를 작성하여 실행하세요.

def say():
    return '안녕!'"\n"*10
print(say())

안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!
안녕!

In [172]:
# Q. 내장함수를 이용하여 [1,2,3,4,5]을 [1.0, 2.0, 3.0, 4.0, 5.0]로 변환하세요.

A= [1,2,3,4,5]
X= list(map(float,A))
print(A)

TypeError: 'list' object is not callable