In [55]:
import pandas as pd

dfa = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_A_DATA_TABLE.csv',encoding='cp949')
dfb = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_B_DATA_TABLE.csv',encoding='cp949')
dfc = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_C_DATA_TABLE.csv',encoding='cp949')
dfd = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_D_DATA_TABLE.csv',encoding='cp949')

ddfa = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_A_DATA_TABLE.csv',encoding='cp949')
ddfb = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_B_DATA_TABLE.csv',encoding='cp949')
ddfc = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_C_DATA_TABLE.csv',encoding='cp949')
ddfd = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_D_DATA_TABLE.csv',encoding='cp949')

In [16]:
df.head(3)

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0   A  2757986      1    101  A010101  15148    10  20140920    20  1000
1   A  2757986      1    106  A010608  15148    10  20140920    20  4100
2   A  2757987      1    104  A010402    400    10  20140920    12  5000

In [94]:
df1= pd.concat([dfa,dfb,dfc,dfd])
df2= pd.concat([ddfa,ddfb,ddfc,ddfd])

In [95]:
df1['구매금액'].groupby(df1['고객번호']).sum().sort_values(ascending=False)[:5]

고객번호
7957     2103318466
14599    1349845790
15999    1278610550
6207     1256164974
8079     1152415212
Name: 구매금액, dtype: int64

In [93]:
dfd['구매금액'].groupby(dfd['고객번호']).sum().sort_values(ascending=False)

고객번호
6868     5695350
19364    5366730
18268    4064930
15444    3780050
18986    3437240
          ...
4485         800
4979         800
9842         800
9921         720
11146        500
Name: 구매금액, Length: 1547, dtype: int64

In [75]:
dfa['구매금액'].groupby(dfa['고객번호']).sum().sort_values(ascending=False)

고객번호
14599    1349660610
15999    1278372850
8079     1150962960
8994      773884410
3833      537228960
            ...
17719          1500
15568          1500
14562          1200
16182          1000
3561            950
Name: 구매금액, Length: 17340, dtype: int64

In [52]:
print(dfa.info())
print()
print(dfb.info())
print()
print(dfc.info())
print()
print(dfd.info())
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2863856 entries, 0 to 2863855
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 218.5+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6359426 entries, 0 to 6359425
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 485.2+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4612951 entries, 0 to 4612950
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 351.9+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35281 entries, 0 to 35280
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제휴사     35281 non-null  object
 1   영수증번호   35281 non-null  int64
 2   대분류코드   35281 non-null  int64
 3   중분류코드   35281 non-null  int64
 4   소분류코드   35281 non-null  object
 5   고객번호    35281 non-null  int64
 6   점포코드    35281 non-null  int64
 7   구매일자    35281 non-null  int64
 8   구매시간    35281 non-null  int64
 9   구매금액    35281 non-null  int64
dtypes: int64(8), object(2)
memory usage: 2.7+ MB
None

In [56]:
print(ddfa.info())
print()
print(ddfb.info())
print()
print(ddfc.info())
print()
print(ddfd.info())
print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906462 entries, 0 to 2906461
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 221.7+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6978648 entries, 0 to 6978647
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 532.4+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4766285 entries, 0 to 4766284
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   제휴사     object
 1   영수증번호   int64
 2   대분류코드   int64
 3   중분류코드   int64
 4   소분류코드   object
 5   고객번호    int64
 6   점포코드    int64
 7   구매일자    int64
 8   구매시간    int64
 9   구매금액    int64
dtypes: int64(8), object(2)
memory usage: 363.6+ MB
None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70121 entries, 0 to 70120
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제휴사     70121 non-null  object
 1   영수증번호   70121 non-null  int64
 2   대분류코드   70121 non-null  int64
 3   중분류코드   70121 non-null  int64
 4   소분류코드   70121 non-null  object
 5   고객번호    70121 non-null  int64
 6   점포코드    70121 non-null  int64
 7   구매일자    70121 non-null  int64
 8   구매시간    70121 non-null  int64
 9   구매금액    70121 non-null  int64
dtypes: int64(8), object(2)
memory usage: 5.3+ MB
None

In [57]:
print('dfa>> ',dfa.구매금액.sum())
print('dfb>> ',dfb.구매금액.sum())
print('dfc>> ',dfc.구매금액.sum())
print('dfd>> ',dfd.구매금액.sum())

dfa>>  249107710200
dfb>>  56370935091
dfc>>  23810993186
dfd>>  312202104

In [59]:
print('ddfa>> ',ddfa.구매금액.sum())
print('ddfb>> ',ddfb.구매금액.sum())
print('ddfc>> ',ddfc.구매금액.sum())
print('ddfd>> ',ddfd.구매금액.sum())

ddfa>>  265733433830
ddfb>>  54850751387
ddfc>>  26249977703
ddfd>>  583153440

In [70]:
ddfa.대분류코드.value_counts(ascending=False).count()

9

In [49]:
# a= dfa.중분류코드.unique()
# b= pd.DataFrame(a,columns=['a'])

# b = b.sort_values(by='a',ascending=True)
# b