In [1]:
import pandas as pd
dd= pd.read_pickle('dataset/purprd_cust.pkl')
dd.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,대분류명,성별,거주지역,연령대
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,가구/인테리어,F,경기 김포시,50대
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,가공식품,F,경기 김포시,50대

In [2]:
region= dd.copy()

In [9]:
region_li=list(region.거주지역.unique())

In [14]:
# for i,region in enumerate(region_li):
#     a =

In [ ]:
# for value in region_li:
#     print(value,region[region.거주지역==value].구매시간.value_counts()[:5])

In [15]:
import pandas as pd

dd= pd.read_pickle('dataset/purprd_cust.pkl')
dd.head(1)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,대분류명,성별,거주지역,연령대
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,가구/인테리어,F,경기 김포시,50대

In [17]:
def abc(df):
    a= df[df.제휴사=='A'].제휴사.count()
    b= df[df.제휴사=='B'].제휴사.count()
    c= df[df.제휴사=='C'].제휴사.count()
    d= df[df.제휴사=='D'].제휴사.count()
    return a,b,c,d
    
    
region = dd.groupby('거주지역').apply(abc)
region

거주지역
강원도 철원            (4112, 181922, 141848, 148)
경기 김포시     (1697757, 4285392, 3027738, 37153)
경상남도 함양        (266789, 587204, 372998, 1423)
경상북도 영주          (53413, 373138, 161304, 188)
광주 북구           (118796, 340253, 513207, 482)
대구 동구           (78802, 114907, 292718, 1249)
대전 유성구           (43758, 303163, 213220, 161)
부산 기장         (758420, 1102323, 664382, 8036)
서울 강남구          (354292, 98927, 340666, 1807)
서울 강동구            (23653, 38881, 32319, 1063)
서울 강북구           (70605, 100496, 58797, 2221)
서울 강서구           (28985, 62593, 210991, 1060)
서울 관악구            (46613, 21003, 21382, 2535)
서울 광진구           (94342, 303017, 66630, 2506)
서울 구로구             (15489, 34938, 43565, 407)
서울 금천구               (9676, 20826, 16085, 43)
서울 노원구         (399566, 513300, 224404, 2700)
서울 도봉구           (93668, 68249, 102258, 1886)
서울 동대문구        (111641, 158352, 280054, 2544)
서울 동작구            (53804, 18937, 17796, 2558)
서울 마포구            (41845, 59495, 48175, 2243)
서울 서대문구          (49427, 42591, 113145, 2017)
서울 서초구            (41563, 18834, 117796, 421)
서울 성동구           (50468, 292248, 89742, 4052)
서울 성북구            (57803, 26927, 58352, 3272)
서울 송파구        (553073, 1262563, 365731, 7001)
서울 양천구              (9987, 14140, 41010, 829)
서울 영등포구            (34123, 37107, 75639, 734)
서울 용산구            (31535, 70049, 36911, 1183)
서울 은평구            (20877, 17656, 88810, 2223)
서울 종로구            (29077, 13916, 29289, 1447)
서울 중구              (21671, 30235, 14690, 211)
서울 중랑구             (31698, 20022, 19158, 851)
세종 장군                (7691, 27741, 13575, 44)
울산 동구             (105443, 75812, 48935, 547)
인천 계양구        (176890, 1171862, 375912, 6548)
전라남도 영광           (8821, 219059, 369596, 303)
전라북도 군산         (102702, 501863, 219669, 189)
충청남도 천안            (8979, 284529, 113187, 71)
충청북도              (6481, 337448, 275410, 388)
dtype: object