In [3]:
import pandas as pd
df = pd.read_pickle("dataset/purprd_대분류명11_.pkl")
df.head(2)

# cust.to_pickle('dataset/고객기준데이터/cust_region.pkl')
# prodcat.to_pickle('dataset/purprd_대분류명11_.pkl')

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,거주지역,대분류명
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,경기 김포시,가구/인테리어
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,경기 김포시,가공식품

In [5]:
a= pd.read_pickle('')