In [1]:
import pandas as pd

dfa = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_A_DATA_TABLE.csv',encoding='cp949')
dfb = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_B_DATA_TABLE.csv',encoding='cp949')
dfc = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_C_DATA_TABLE.csv',encoding='cp949')
dfd = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2014_D_DATA_TABLE.csv',encoding='cp949')

ddfa = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_A_DATA_TABLE.csv',encoding='cp949')
ddfb = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_B_DATA_TABLE.csv',encoding='cp949')
ddfc = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_C_DATA_TABLE.csv',encoding='cp949')
ddfd = pd.read_csv('dataset/PURPRD/Copy of PURPRD_2015_D_DATA_TABLE.csv',encoding='cp949')

In [2]:
dfa.head(3)

  제휴사    영수증번호  대분류코드  중분류코드    소분류코드   고객번호  점포코드      구매일자  구매시간  구매금액
0   A  2757986      1    101  A010101  15148    10  20140920    20  1000
1   A  2757986      1    106  A010608  15148    10  20140920    20  4100
2   A  2757987      1    104  A010402    400    10  20140920    12  5000

In [3]:
df= pd.concat([df1,df2])

NameError: name 'df1' is not defined

In [ ]:
# 고객 2014 -> 2015
print('A제휴사 고객',dfa.고객번호.value_counts().count())
print('B제휴사 고객',dfb.고객번호.value_counts().count())
print('C제휴사 고객',dfc.고객번호.value_counts().count())
print('D제휴사 고객',dfd.고객번호.value_counts().count())
print()
print('A제휴사 고객',ddfa.고객번호.value_counts().count())
print('B제휴사 고객',ddfb.고객번호.value_counts().count())
print('C제휴사 고객',ddfc.고객번호.value_counts().count())
print('D제휴사 고객',ddfd.고객번호.value_counts().count())

In [ ]:
dfa.점포코드.value_counts()

In [ ]:
print('A제휴사 점포개수',dfa.점포코드.value_counts().count())
print('B제휴사 점포개수',dfb.점포코드.value_counts().count())
print('C제휴사 점포개수',dfc.점포코드.value_counts().count())
print('D제휴사 점포개수',dfd.점포코드.value_counts().count())
print()
print('A제휴사 점포개수',ddfa.점포코드.value_counts().count())
print('B제휴사 점포개수',ddfb.점포코드.value_counts().count())
print('C제휴사 점포개수',ddfc.점포코드.value_counts().count())
print('D제휴사 점포개수',ddfd.점포코드.value_counts().count())

In [ ]:
print('A 최고 구매금액(한번에)',dfa.구매금액.max())
print('B 최고 구매금액(한번에)',dfb.구매금액.max())
print('C 최고 구매금액(한번에)',dfc.구매금액.max())
print('D 최고 구매금액(한번에)',dfd.구매금액.max())
print()
print('A 최고 구매금액(한번에)',ddfa.구매금액.max())
print('B 최고 구매금액(한번에)',ddfb.구매금액.max())
print('C 최고 구매금액(한번에)',ddfc.구매금액.max())
print('D 최고 구매금액(한번에)',ddfd.구매금액.max())

In [ ]:
print('A평균구매금액',dfa.구매금액.mean())
print('B평균구매금액',dfb.구매금액.mean())
print('C평균구매금액',dfc.구매금액.mean())
print('D평균구매금액',dfd.구매금액.mean())
print()
print('A평균구매금액',ddfa.구매금액.mean())
print('B평균구매금액',ddfb.구매금액.mean())
print('C평균구매금액',ddfc.구매금액.mean())
print('D평균구매금액',ddfd.구매금액.mean())

In [ ]:
df1.구매금액.sum()
# 329,601,840,581 3천2백9십억

In [ ]:
df2.구매금액.sum()
# 347,417,316,360

In [ ]:
df1= pd.concat([dfa,dfb,dfc,dfd])
df2= pd.concat([ddfa,ddfb,ddfc,ddfd])

In [ ]:
# 2014년도 고객번호별 총 구매금액 1~5위
df1['구매금액'].groupby(df1['고객번호']).sum().sort_values(ascending=False)[:5]

In [ ]:
# 2015년도 고객번호별 총 구매금액 1~5위
df2['구매금액'].groupby(df2['고객번호']).sum().sort_values(ascending=False)[:15]

# 7957 8079 고객 어디갔음

In [ ]:
aaa= df2[df2['고객번호']==7957]
aaa.구매금액.sum()

# 이거 True만 어케뽑았드라;;

In [ ]:
dfd['구매금액'].groupby(dfd['고객번호']).sum().sort_values(ascending=False)

In [ ]:
dfa['구매금액'].groupby(dfa['고객번호']).sum().sort_values(ascending=False)

In [ ]:
print(dfa.info())
print()
print(dfb.info())
print()
print(dfc.info())
print()
print(dfd.info())
print()

In [ ]:
print(ddfa.info())
print()
print(ddfb.info())
print()
print(ddfc.info())
print()
print(ddfd.info())
print()

In [ ]:
print('ddfa>> ',ddfa.구매금액.sum())
print('ddfb>> ',ddfb.구매금액.sum())
print('ddfc>> ',ddfc.구매금액.sum())
print('ddfd>> ',ddfd.구매금액.sum())

In [ ]:
ddfa.대분류코드.value_counts(ascending=False).count()

In [ ]:
# a= dfa.중분류코드.unique()
# b= pd.DataFrame(a,columns=['a'])

# b = b.sort_values(by='a',ascending=True)
# b

In [ ]:
df_cust = pd.read_csv('dataset/고객DEMO.csv')
df_cust.head(3)

In [ ]:
df_cust.거주지역.value_counts().count()

In [ ]:
ev = pd.read_csv('dataset/purprd_region.csv', encoding='cp949')
ev.info()

In [ ]:
ev.head(3)

In [3]:
# r_dfa= ev[ev.제휴사=='A']
# r_dfb= ev[ev.제휴사=='B']
# r_dfc= ev[ev.제휴사=='C']
# r_dfd= ev[ev.제휴사=='D']

r_dfa.to_csv('dataset/PURPRD/구매_거주_A')
r_dfb.to_csv('dataset/PURPRD/구매_거주_B')
r_dfc.to_csv('dataset/PURPRD/구매_거주_C')
r_dfd.to_csv('dataset/PURPRD/구매_거주_D')

NameError: name 'r_dfa' is not defined

In [ ]:
a= pd.read_csv('dataset/PURPRD/구매_거주_A',index_col=0)
a.head(3)

In [ ]:
df1['구매금액'].groupby(df1['고객번호']).sum().sort_values(ascending=False)[:5]

In [ ]:
a['구매금액'].groupby(a['거주지역']).sum().sort_values(ascending=False)

In [ ]:
a[a.대분류==1]

In [9]:
import pandas as pd 
b= pd.read_csv('dataset/상품분류.txt',encoding='cp949')

In [5]:
print('A제휴사 대분류코드>> ',b[(b.제휴사=='A')].대분류코드.unique())
print('B제휴사 대분류코드>> ',b[(b.제휴사=='B')].대분류코드.unique())
print('C제휴사 대분류코드>> ',b[(b.제휴사=='C')].대분류코드.unique())
print('D제휴사 대분류코드>> ',b[(b.제휴사=='D')].대분류코드.unique())

A제휴사 대분류코드>>  [1 2 3 4 5 6 7 8 9]
B제휴사 대분류코드>>  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92]
C제휴사 대분류코드>>  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
D제휴사 대분류코드>>  [1 2 3 4 5 6 7 8]

In [10]:
b[(b.대분류코드==1)].중분류명.unique()

array(['일용잡화', '육류', '축산가공', '농산물', '수산품', '가공식품', '젓갈/반찬', '건강식품', '주류',
       '차/커피', '기타', '열매채소', '버섯', '온라인버섯/열매채소', '국산과일', '수입과일', '냉동과일',
       '건과일', '견과류', '베이직케어', '선케어', '클렌징', '집중케어', '남성케어', '베이비케어'],
      dtype=object)

In [11]:
b[(b.제휴사=='B') & (b.대분류코드==67)].중분류명.unique()

array(['피자', '간식', '디저트', '베이커리'], dtype=object)

In [12]:
for i in range(1,100):
    print(i,' >>',b[(b.제휴사=='B') & (b.대분류코드==i)].중분류명.unique())

1  >> ['열매채소' '버섯' '온라인버섯/열매채소']
2  >> ['조리반찬' '시즌반찬']
3  >> ['포장젓갈' '포장반찬']
4  >> ['양곡' '잡곡류' '즉석도정미' '가공양곡']
5  >> ['잎채소' '뿌리채소' '열매채소' '버섯류' '샐러드채소' '약초' '양념류' '식자재' '친환경채소' '김치채소'
 '온라인잎/샐러드채소' 'LOCAL잎채소' 'LOCAL김치채소' '샐러드/간편채소']
6  >> ['대중선어' '냉동수산물' '생선선물세트' '고등어/삼치' '대구' '도미/민어' '기타구색생선' '꽁치/가자미' '오징어'
 '조기/명태' '국산게/갈치']
7  >> ['선물세트' '즉석구이안주' '마른안주' '멸치건명태' '해조류' '특산물' '건오징어' '조미오징어' '육포' '쥐치포'
 '마른안주선물세트']
8  >> ['Fast Food' '편의시설' '레스토랑' '카페' '판매시설' '주유소']
9  >> ['브랜드조리' '베이커리' '구이' '튀김' '밥류' '구이찜조리' '반찬류' '대용식' '이벤트조리' '간식조리' '간편조리'
 '튀김조리' '피자']
10  >> ['냉장음료' '데일리처분' '흰우유' '가공우유' '요구르트' '유제품' '브랜드빵' '치즈' '디저트' '유가공']
11  >> ['조미료' '소스류' '장류' '식용유지' '조미선물세트' '가루' '식자재' '향신료' '액상조미료' '복합조미료'
 '소금/설탕류' '수입조미']
12  >> ['간편조리식품' '라면' '면류' '분유' '잼' '통조림' '인스턴트선물세트' '이유식/유아간식' '두유']
13  >> ['커피' '차' '건강식품' '담배' '인스턴트커피' '원두커피' '커피선물세트' '시즌차' '차선물세트' '꿀']
14  >> ['스낵' '비스켓' '파이' '시리얼' '캔디' '초콜릿' '껌' '안주' '한과' '선물세트' '프리미엄과자' '간식용과자'
 '수입과자' '종합과자' '전통과자']
15  >> ['생수' '과채음료' '두유' '탄산음료' '이온음료' '커피차음료' '기능성음료' '수입음료']
16  >> ['소주' '맥주' '와인' '전통주' '양주']
17  >> ['세탁세제' '주거세제' '주방세제' '섬유유연제' '표백제' '살충제' '탈취제' '제습제']
18  >> ['기저귀' '화장지' '생리대' '유아세제' '유아위생용품' '시니어위생용품' '여성위생용품' '키친타올' '물티슈' '미용티슈']
19  >> ['구강용품' '헤어스타일링' '면도용품' '바디용품' '스킨케어' '개인위생용품' 'H&B선물세트' '일반헤어케어' '기능헤어케어']
20  >> ['그릇/수저' '음식조리' '음식저장/보관' '주방정리' '야외용품' '주방시즌/균일가' '야외/시즌용품' '균일가']
21  >> ['청소용품' '세탁용품' '수납용품' '욕실용품' '휴지통' '밀대/걸레' '청소편의도구' '종량제봉투']
22  >> ['소가구' '장식용품' '의자/상' '조명/전구' '보수용품' '건전지' '가구/인테리어샵' '테이블' '의자' '상' '제기용품'
 '아웃도어퍼니처' '벽지류' '가구']
23  >> ['성인침구류' '수예소품' '커튼류' '수예시즌' '아동침구류']
24  >> ['예능학용품' '노트/지류' '필기도구' '오피스용품' '파티/팬시/시즌' '미술용품' '교육보조재' '파티/팬시' '노트'
 '시즌행사']
25  >> ['일반서적' '음반' '유/아동서적' '영상' '서적' '음반영상']
26  >> ['BABY/INFANT' 'GIRLS' '교육' 'VIDEOGAME' '남아' 'SPORTS/OUTDOOR'
 'EDUCATION 1' 'EDUCATION 2' 'BOYS 1' 'BOYS 2']
27  >> ['애완/동물용품' '원예용품' '애견용품' '덴탈케어' '고양이용품' '동물병원' '수족관용품']
28  >> ['자동차 정비용품' '자동차 청소용품' '카시트/매트' '자동차처분' '자동차 액세서리' '교환/보수용품' '세차용품'
 '자동차방향제/소취제' '자동차 편의용품' '자동차장식용품' '휴대폰용품' '장착용품' '오토바이용품']
29  >> ['스트리트편집샵' '행사' '이지캐주얼브랜드' '여성캐주얼브랜드']
30  >> ['비즈니스정장' '시티캐주얼' '복합샵' '남성브랜드' '남성행사' '남성시즌행사']
31  >> ['유아브랜드' '아동복합샵' '아동브랜드' '아동행사' '유아동용품']
32  >> ['유아용품' '유아토들러' '주니어스포츠' '주니어웨어' '유아동PB' '유아동NPB' '유아동특정']
33  >> ['성인내의' '란제리' '양말' '홈웨어' '스타킹' '란제리브랜드' '아동내의' '언더웨어행사']
34  >> ['국내화장품' '미용잡화' '수입브랜드' '화장품브랜드샵']
35  >> ['스키' '등산' '낚시' '수영복' '윈터스포츠' '워터스포츠' '스포츠웨어']
36  >> ['롤러보드' '구기용품' '헬스용품' '자전거' '스포츠ACC' '라켓스포츠' '시니어건강용품' '스포츠의류']
37  >> ['분식' '양식' '일식' '중식' '한식' '패스트푸드' '레스토랑' '카페' '푸드코트' '컨세션']
38  >> ['해초류' '나물' '콩나물' '두부' '간편채소' '묵' '즉석참기름' '묵/즉석참기름']
39  >> ['냉장고' '세탁기' 'TV' 'DVD' '오디오' '홈시어터' '김치냉장고']
40  >> ['정수기' '공기청정기' '에어컨' '선풍기' '히터기' '전기요/장판' '가습기' '건강가전']
41  >> ['밥솥' '주방소형가전' '청소기' '전기포트' '믹서기' '생활소형가전' '커피메이커/머신' '기타주방가전' '조리기']
42  >> ['소형음향기기' '카메라/캠코더' '전화기/팩스' '이동통신' 'PC' '컴퓨터주변기기' '전기면도기' '건강디지털기기'
 'NAVI/하이패스' '기타음향기기' '전자악기' 'MP3/PMP' '전자학습기']
43  >> ['어묵맛살' '냉장면류' '햄소시지' '냉장반찬' '냉동만두' '냉동간식' '냉동대용식' '아이스크림' '햄' '소시지'
 '냉장햄세트']
44  >> ['드레스화브랜드' '캐주얼화브랜드' '아동화브랜드' '슈즈행사' '남성구두' '여성구두' '샌들슬리퍼' 'NB구두' '운동화']
45  >> ['준보석' '시계' '액세서리' '피혁브랜드' '가방브랜드' '잡화멀티샵' '미입점행사' '지갑' '벨트' '핸드백' '가방'
 '피혁토탈' '모자' '우산/양산' '스카프' '장갑' '시즌토탈' '썬글라스' '여행용품']
46  >> ['우육' '수입육' '일반한우' '한우선물세트' '브랜드한우']
47  >> ['닭고기' '계란' '오리고기']
48  >> ['양념육' '돼지고기' '브랜드돼지고기' '차별화돼지고기' '온라인돼지고기']
49  >> ['마담/어덜트' '미시캐주얼' '여성베이직' '여성이지캐주얼' '여성PB' '여성NPB' '여성특정']
50  >> ['병행수입' '남성베이직' '남성스포츠' '남성어덜트캐주얼' '남성이지캐주얼' '남성스포츠PB' '남성스포츠NPB'
 '남성스포츠특정']
51  >> ['스포츠브랜드편집' '스포츠NB' '골프' '시즌행사' '브랜드']
52  >> ['과실과일' '과채과일' '선물세트' '친환경과일' '감귤' '감' '복숭아' '자두' '토마토' '포도' '참외' '수박'
 '딸기' '메론']
53  >> ['선물세트' '수입감귤과일' '수입기타과일' '열대과일' '키위/석류' '포도/체리' '오렌지과일선물세트' '오렌지' '자몽'
 '오렌지과일기타' '석류' '레몬']
54  >> ['생선회' '해물연체류' '간편조리생선' '생선초밥' '기타회']
55  >> ['건과' '친환경채소' '건강선물세트' '냉동가공' '생활한방' '한방식재류' '한방차']
56  >> ['밥류' '간편조리' '김/초밥' '도시락']
57  >> ['선식' '떡' '족발']
58  >> ['족발' '순대']
59  >> ['단무지류' '포장반찬' '김치류' '반찬류' '포장젓갈']
60  >> ['젓갈류']
61  >> ['브랜드푸드몰' '간식조리']
62  >> ['빵' '피자']
63  >> ['반찬' '전통간식' '먹거리' '먹거리행사' '시즌행사' '맛집행사' '즉석구이안주' '즉석구이김' '특산물행사']
64  >> ['블루베리' '체리' '수입포도' '냉동과일']
65  >> ['열대과일기타' '바나나' '파인애플' '망고' '키위' '열대과일선물세트']
66  >> ['남성용품' '개인위생용품' '바디케어' '훼이셜케어' '베이비케어' '풋/핸드케어' '미용소품' '아로마']
67  >> ['피자' '간식' '디저트' '베이커리']
68  >> ['남성양말' '여성양말' '아동양말' '덧신' '주니어양말' '양말선물세트' '온라인양말' '언더웨어행사']
69  >> ['시즌슈즈' '스포츠슈즈' '아동슈즈' '캐주얼슈즈' '슈즈용품']
70  >> ['지갑/벨트' '가방' 'TRAVEL' '모자' '우산/양산' '시즌잡화' '장갑']
71  >> ['브랜드' '등산' '캠핑']
72  >> ['잡곡' '선식' '온라인잡곡선식']
73  >> ['포장반찬HMR' '냉동HMR' '냉장간편식HMR' '냉장식사HMR']
74  >> ['라면' '면류' '간편요리' '밥죽류' '브랜드빵' '시리얼']
75  >> ['비타민' '기능성건강' '홍인삼' '담배' '건강선물세트']
76  >> ['수입연어' '수입고등어' '수입갈치' '수입게' '수입기타생선']
77  >> ['냉동규격생선' '냉동규격해물' '규격생선선물세트' '냉장규격생선' '온라인규격/간편조리생선' '규격RTC' '간편조리행사']
78  >> ['굴비' '반건생선' '굴비/반건생선선물세트']
79  >> ['해초' '조개' '조개살' '연체' '새우' '해물선물세트' '온라인해물연체']
80  >> ['특산물행사' '멸치' '천연조미료' '황태' '미역/다시마' '멸치황태미역선물세트']
81  >> ['즉석구이김' '마른김' '조미김' '김가공품' '김선물세트']
82  >> ['미국산소고기' '호주산소고기' '수입육선물세트' '수입돼지고기' '기타국소고기']
83  >> ['양념육' '육가공품']
84  >> ['그릇/수저' '유아식기' '조리용기' '조리도구']
85  >> ['주방가전' '시즌/건강가전']
86  >> ['패브릭욕실용품' '매트' '프리미엄매트' '일반욕실용품' 'DIY욕실용품' '수도용품']
87  >> ['조명기구' '전구' '전기용품' '안전용품' '보수용품' '공구' '건전지']
88  >> ['브랜드침구' '성인침구' '아동침구']
89  >> ['계란' '가공란']
90  >> ['기초화장품' '색조화장품' '드럭스토어' '온라인화장품']
91  >> ['양념채소' '뿌리채소' '온라인양념/뿌리채소']
92  >> ['사과' '배' '국산과일선물세트' '온라인저장과일' '구색과일' '밤']
93  >> []
94  >> []
95  >> []
96  >> []
97  >> []
98  >> []
99  >> []

In [115]:
b[(b.제휴사=='A') & (b.중분류명=='일용잡화')].소분류명.unique()

array(['위생세제', '휴지류', '뷰티상품', '일용잡화', '세트상품', '단기행사'], dtype=object)

In [15]:
b[(b.제휴사=='A') & (b.대분류코드==2)].중분류명.unique()

array(['섬유잡화', '액세서리', '화장품', '보석', '준보석/시계', '피혁잡화', '구두'], dtype=object)

In [62]:
# b[(b.제휴사=='B') & (b.대분류코드==1)].loc[:,'대분류코드']

In [61]:
print('A제휴사 대분류코드>> ',b[(b.제휴사=='A')].대분류코드.unique())
print('B제휴사 대분류코드>> ',b[(b.제휴사=='B')].대분류코드.unique())
print('C제휴사 대분류코드>> ',b[(b.제휴사=='C')].대분류코드.unique())
print('D제휴사 대분류코드>> ',b[(b.제휴사=='D')].대분류코드.unique())

A제휴사 대분류코드>>  [1 2 3 4 5 6 7 8 9]
B제휴사 대분류코드>>  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92]
C제휴사 대분류코드>>  [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17]
D제휴사 대분류코드>>  [1 2 3 4 5 6 7 8]

# 대분류코드 숫자변경

In [102]:
prodcat = pd.read_csv('dataset/상품분류.txt',encoding='cp949')
prodcat.head(1)

  제휴사  대분류코드  중분류코드    소분류코드  중분류명  소분류명
0   A      1    101  A010101  일용잡화  위생세제

In [104]:
def cond_change_col_val(제휴사, 조건대분류, 새로운대분류):
    def conditional_col(df,mem_check,code_check,code_change):
        if (df[0] == mem_check) and (df[1] == code_check):
            return code_change
        else:
            return df[1]

    prodcat['대분류코드'] = prodcat.apply(lambda x: conditional_col(x,제휴사, 조건대분류, 새로운대분류), axis=1)
    
cond_change_col_val('B', 1, 10)   ## 확인할 제휴사   ,  바꾸기전 대분류  ,  바꾼후 대분류

In [105]:
prodcat[(prodcat.제휴사=='B')].대분류코드.unique()

array([10,  2,  3,  4,  5,  6,  7,  8,  9, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86,
       87, 88, 89, 90, 91, 92], dtype=int64)

# 대분류 코드 -> 새로운 컬럼에 딕셔너리기준 변경

In [ ]:
dict_big_code = {10:'일용잡화' , 2:'몰라'}     # 이거는 나중에 만들면 되

def big_code_name_col(x):
    if x in dict_big_code: 
        return dict_big_code[x]     
    else:
        return x             # 만약에 대분류 안하면 그냥 숫자값으로 줌
prodcat['대분류명'] = prodcat['대분류코드'].apply(big_code_name_col)

In [ ]:
prodcat[(prodcat['대분류코드']==1) & (prodcat['제휴사']=='B')]

## 안들어간 값 null

In [ ]:
dict_big_code = {10:'일용잡화' , 2:'몰라'}     # 이거는 나중에 만들면 되

def big_code_name_col(x):
    if x in dict_big_code: 
        return dict_big_code[x]     
    else:
        return None            # 만약에 대분류 안하면 그냥 숫자값으로 줌
prodcat['대분류명'] = prodcat['대분류코드'].apply(big_code_name_col)

In [ ]:
prodcat[(prodcat['대분류코드']==12) & (prodcat['제휴사']=='B')]

In [ ]:
prodcat[prodcat['대분류명'].isnull()]

In [ ]:
prodcat[prodcat['대분류명'].isnull()]['대분류코드'].unique()

## -------------------------------------------------------------

In [ ]:
대분류확인 = 1
print(f"            <<<<< 대분류코드 : {대분류확인}  >>>>> ")
print("<< 중분류명 >> ",'\n',list(prodcat[prodcat['대분류코드']==대분류확인]['중분류명'].unique()))
print()
print()
print("<< 소분류명 >> ",'\n',list(prodcat[prodcat['대분류코드']==대분류확인]['소분류명'].unique()))

In [ ]:
대분류확인 = 1
print(f"            <<<<< 대분류코드 : {대분류확인}  >>>>> ")
# print("<< 중분류명 >> ",'\n',list(prodcat[prodcat['대분류코드']==대분류확인]['중분류명'].unique()))


for 중분류 in list(prodcat[prodcat['대분류코드']==대분류확인]['중분류명'].unique()):
    소분류 = list(prodcat[(prodcat['대분류코드']==1) & (prodcat['중분류명']==중분류)]['소분류명'].unique())
    print(f"{중분류} : {소분류}" )
    print()
    print()
# print()
# print()

## --------------------------------0918---------------------------------------------

In [1]:
import pandas as pd
check = pd.read_pickle("dataset/prodcat_final.pkl")
check=check.drop_duplicates(['대분류명','중분류명'])
save_list = check.groupby(['대분류명'])['중분류명'].apply(lambda x: " / ".join(x))
for i in zip(save_list.index,save_list.values):
    print(f"<<<< {i[0]} >>>>\n{i[1]} ")
    print()

<<<< 가공식품 >>>>
냉장음료 / 데일리처분 / 흰우유 / 가공우유 / 요구르트 / 유제품 / 브랜드빵 / 치즈 / 디저트 / 유가공 / 간편조리식품 / 라면 / 면류 / 분유 / 잼 / 통조림 / 인스턴트선물세트 / 이유식/유아간식 / 두유 / 간편요리 / 밥죽류 / 시리얼 / 계란 / 가공란 / 우유 / 발효유 / 치즈버터

<<<< 가공식품/건강 >>>>
병통조림 / 커피류 / 담배 / 분유 / 차류 / 건강식품 / 즉석식품 / 가공건식품

<<<< 가구/인테리어 >>>>
일용잡화 / 주방용품 / 문구/팬시 / 생활잡화 / 식기 / 가구 / 침구/수예 / 웨딩 / 소가구 / 장식용품 / 의자/상 / 조명/전구 / 보수용품 / 건전지 / 가구/인테리어샵 / 테이블 / 의자 / 상 / 제기용품 / 아웃도어퍼니처 / 벽지류 / 성인침구류 / 수예소품 / 커튼류 / 수예시즌 / 아동침구류 / 브랜드침구 / 성인침구 / 아동침구

<<<< 가전 >>>>
대형가전 / 소형가전 / 통신/컴퓨터 / 악기 / 전자/전기 / 주방가전 / 냉장고 / 세탁기 / TV / DVD / 오디오 / 홈시어터 / 김치냉장고 / 정수기 / 공기청정기 / 에어컨 / 선풍기 / 히터기 / 전기요/장판 / 가습기 / 건강가전 / 밥솥 / 주방소형가전 / 청소기 / 전기포트 / 믹서기 / 생활소형가전 / 커피메이커/머신 / 기타주방가전 / 조리기 / 소형음향기기 / 카메라/캠코더 / 전화기/팩스 / 이동통신 / PC / 컴퓨터주변기기 / 전기면도기 / 건강디지털기기 / NAVI/하이패스 / 기타음향기기 / 전자악기 / MP3/PMP / 전자학습기 / 시즌/건강가전

<<<< 가정용품 >>>>
세탁세제 / 주거세제 / 주방세제 / 섬유유연제 / 표백제 / 살충제 / 탈취제 / 제습제 / 그릇/수저 / 음식조리 / 음식저장/보관 / 주방정리 / 야외용품 / 주방시즌/균일가 / 야외/시즌용품 / 균일가 / 청소용품 / 세탁용품 / 수납용품 / 욕실용품 / 휴지통 / 밀대/걸레 / 청소편의도구 / 종량제봉투 / 유아식기 / 조리용기 / 조리도구 / 패브릭욕실용품 / 매트 / 프리미엄매트 / 일반욕실용품 / DIY욕실용품 / 수도용품 / 화장지 / 주방주거세제 / 유아용품 / 화장품 / 두발용품 / 생리용품 / 구강용품 / 위생용품 / 주방용품 / 청소욕실용품 / 전기전자 / 의류잡화 / 레저취미 / 문화용품 / 가정잡화

<<<< 간식 >>>>
스낵 / 비스켓 / 파이 / 시리얼 / 캔디 / 초콜릿 / 껌 / 안주 / 한과 / 선물세트 / 프리미엄과자 / 간식용과자 / 수입과자 / 종합과자 / 전통과자 / 피자 / 간식 / 디저트 / 베이커리 / 라면 / 건면 / 쿠키케이크 / 캔디껌류 / 초콜렛 / 씨리얼 / 과자 / 음료

<<<< 건강 >>>>
비타민 / 기능성건강 / 홍인삼 / 담배 / 건강선물세트

<<<< 건강케어 >>>>
피트니스 / 건강기능식품 / 일반의약외품

<<<< 과일 >>>>
과실과일 / 과채과일 / 선물세트 / 친환경과일 / 감귤 / 감 / 복숭아 / 자두 / 토마토 / 포도 / 참외 / 수박 / 딸기 / 메론 / 수입감귤과일 / 수입기타과일 / 열대과일 / 키위/석류 / 포도/체리 / 오렌지과일선물세트 / 오렌지 / 자몽 / 오렌지과일기타 / 석류 / 레몬 / 블루베리 / 체리 / 수입포도 / 냉동과일 / 열대과일기타 / 바나나 / 파인애플 / 망고 / 키위 / 열대과일선물세트 / 사과 / 배 / 국산과일선물세트 / 온라인저장과일 / 구색과일 / 밤 / 국산과일 / 수입과일 / 건과일 / 견과류

<<<< 기초케어 >>>>
베이직케어 / 선케어 / 클렌징 / 집중케어 / 남성케어 / 베이비케어

<<<< 냉장/냉동식품 >>>>
냉장농산 / 냉장수산 / 냉장축산 / 아이스크림 / 만두 / 냉장간식MS / 냉장식사MS / 냉장기타MS / 냉동MS

<<<< 농산물 >>>>
열매채소 / 버섯 / 온라인버섯/열매채소 / 잎채소 / 뿌리채소 / 버섯류 / 샐러드채소 / 약초 / 양념류 / 식자재 / 친환경채소 / 김치채소 / 온라인잎/샐러드채소 / LOCAL잎채소 / LOCAL김치채소 / 샐러드/간편채소 / 해초류 / 나물 / 콩나물 / 두부 / 간편채소 / 묵 / 즉석참기름 / 묵/즉석참기름 / 건과 / 건강선물세트 / 냉동가공 / 생활한방 / 한방식재류 / 한방차 / 잡곡 / 선식 / 온라인잡곡선식 / 양념채소 / 온라인양념/뿌리채소 / 양곡 / 선식류 / 엽채류 / 과채류 / 근채류 / 두채류 / 김치채소류 / 양채류 / 나물류 / 계란류

<<<< 메이크업 >>>>
베이스메이크업 / 아이메이크업 / 립메이크업 / 네일메이크업

<<<< 명품 >>>>
명품

<<<< 문구/공구/서적 >>>>
예능학용품 / 노트/지류 / 필기도구 / 오피스용품 / 파티/팬시/시즌 / 미술용품 / 교육보조재 / 파티/팬시 / 노트 / 시즌행사 / 일반서적 / 음반 / 유/아동서적 / 영상 / 서적 / 음반영상 / 조명기구 / 전구 / 전기용품 / 안전용품 / 보수용품 / 공구 / 건전지

<<<< 바디케어 >>>>
헤어케어 / 바디케어 / 핸드/풋케어 / 구강케어 / 여성용품

<<<< 반찬 >>>>
조리반찬 / 시즌반찬 / 포장젓갈 / 포장반찬 / 단무지류 / 김치류 / 반찬류 / 젓갈류 / 반찬 / 전통간식 / 먹거리 / 먹거리행사 / 시즌행사 / 맛집행사 / 즉석구이안주 / 즉석구이김 / 특산물행사

<<<< 뷰티 >>>>
국내화장품 / 미용잡화 / 수입브랜드 / 화장품브랜드샵 / 기초화장품 / 색조화장품 / 드럭스토어 / 온라인화장품

<<<< 생활용품 >>>>
기저귀 / 화장지 / 생리대 / 유아세제 / 유아위생용품 / 시니어위생용품 / 여성위생용품 / 키친타올 / 물티슈 / 미용티슈 / 구강용품 / 헤어스타일링 / 면도용품 / 바디용품 / 스킨케어 / 개인위생용품 / H&B선물세트 / 일반헤어케어 / 기능헤어케어 / 남성용품 / 바디케어 / 훼이셜케어 / 베이비케어 / 풋/핸드케어 / 미용소품 / 아로마

<<<< 수산물 >>>>
대중선어 / 냉동수산물 / 생선선물세트 / 고등어/삼치 / 대구 / 도미/민어 / 기타구색생선 / 꽁치/가자미 / 오징어 / 조기/명태 / 국산게/갈치 / 선물세트 / 즉석구이안주 / 마른안주 / 멸치건명태 / 해조류 / 특산물 / 건오징어 / 조미오징어 / 육포 / 쥐치포 / 마른안주선물세트 / 생선회 / 해물연체류 / 간편조리생선 / 생선초밥 / 기타회 / 수입연어 / 수입고등어 / 수입갈치 / 수입게 / 수입기타생선 / 냉동규격생선 / 냉동규격해물 / 규격생선선물세트 / 냉장규격생선 / 온라인규격/간편조리생선 / 규격RTC / 간편조리행사 / 굴비 / 반건생선 / 굴비/반건생선선물세트 / 해초 / 조개 / 조개살 / 연체 / 새우 / 해물선물세트 / 온라인해물연체 / 특산물행사 / 멸치 / 천연조미료 / 황태 / 미역/다시마 / 멸치황태미역선물세트 / 즉석구이김 / 마른김 / 조미김 / 김가공품 / 김선물세트 / 선어류 / 선어가공 / 건어류 / 건어가공 / 해물류 / 기타수산

<<<< 스포츠 >>>>
스포츠 / 골프용품 / 스키 / 등산 / 낚시 / 수영복 / 윈터스포츠 / 워터스포츠 / 스포츠웨어 / 롤러보드 / 구기용품 / 헬스용품 / 자전거 / 스포츠ACC / 라켓스포츠 / 시니어건강용품 / 스포츠의류 / 스포츠브랜드편집 / 스포츠NB / 골프 / 시즌행사 / 브랜드 / 캠핑

<<<< 식품 >>>>
육류 / 축산가공 / 농산물 / 수산품 / 가공식품 / 젓갈/반찬 / 건강식품 / 주류 / 차/커피 / 기타

<<<< 아동 >>>>
아동 / BABY/INFANT / GIRLS / 교육 / VIDEOGAME / 남아 / SPORTS/OUTDOOR / EDUCATION 1 / EDUCATION 2 / BOYS 1 / BOYS 2 / 유아브랜드 / 아동복합샵 / 아동브랜드 / 아동행사 / 유아동용품 / 유아용품 / 유아토들러 / 주니어스포츠 / 주니어웨어 / 유아동PB / 유아동NPB / 유아동특정

<<<< 애완/동물물품 >>>>
애완/동물용품 / 원예용품 / 애견용품 / 덴탈케어 / 고양이용품 / 동물병원 / 수족관용품

<<<< 언더웨어 >>>>
성인내의 / 란제리 / 양말 / 홈웨어 / 스타킹 / 란제리브랜드 / 아동내의 / 언더웨어행사 / 남성양말 / 여성양말 / 아동양말 / 덧신 / 주니어양말 / 양말선물세트 / 온라인양말

<<<< 음료 >>>>
생수 / 과채음료 / 두유 / 탄산음료 / 이온음료 / 커피차음료 / 기능성음료 / 수입음료 / 커피음료 / 차음료

<<<< 음식점 >>>>
분식 / 양식 / 일식 / 중식 / 한식 / 패스트푸드 / 레스토랑 / 카페 / 푸드코트 / 컨세션

<<<< 자동차 >>>>
자동차 정비용품 / 자동차 청소용품 / 카시트/매트 / 자동차처분 / 자동차 액세서리 / 교환/보수용품 / 세차용품 / 자동차방향제/소취제 / 자동차 편의용품 / 자동차장식용품 / 휴대폰용품 / 장착용품 / 오토바이용품

<<<< 잡곡 >>>>
양곡 / 잡곡류 / 즉석도정미 / 가공양곡

<<<< 조리식품 >>>>
브랜드조리 / 베이커리 / 구이 / 튀김 / 밥류 / 구이찜조리 / 반찬류 / 대용식 / 이벤트조리 / 간식조리 / 간편조리 / 튀김조리 / 피자 / 어묵맛살 / 냉장면류 / 햄소시지 / 냉장반찬 / 냉동만두 / 냉동간식 / 냉동대용식 / 아이스크림 / 햄 / 소시지 / 냉장햄세트 / 김/초밥 / 도시락 / 선식 / 떡 / 족발 / 순대 / 브랜드푸드몰 / 빵 / 포장반찬HMR / 냉동HMR / 냉장간편식HMR / 냉장식사HMR

<<<< 조리식품/간식 >>>>
반찬류 / 간편간식 / 식사류 / 베이커리 / 기타조리식품

<<<< 조미료/소스 >>>>
조미료 / 소스류 / 장류 / 식용유지 / 조미선물세트 / 가루 / 식자재 / 향신료 / 액상조미료 / 복합조미료 / 소금/설탕류 / 수입조미 / 식용유 / 케첩마요네즈 / 감미료 / 가공분말류

<<<< 주류 >>>>
소주 / 맥주 / 와인 / 전통주 / 양주 / 기타음주류

<<<< 축산물 >>>>
우육 / 수입육 / 일반한우 / 한우선물세트 / 브랜드한우 / 닭고기 / 계란 / 오리고기 / 양념육 / 돼지고기 / 브랜드돼지고기 / 차별화돼지고기 / 온라인돼지고기 / 미국산소고기 / 호주산소고기 / 수입육선물세트 / 수입돼지고기 / 기타국소고기 / 육가공품 / 국내산우육 / 국내산돈육 / 국내산계육 / 수입우육 / 수입돈육 / 기타축산

<<<< 커피/차 >>>>
커피 / 차 / 건강식품 / 담배 / 인스턴트커피 / 원두커피 / 커피선물세트 / 시즌차 / 차선물세트 / 꿀

<<<< 패션의류-남성 >>>>
비즈니스정장 / 시티캐주얼 / 복합샵 / 남성브랜드 / 남성행사 / 남성시즌행사 / 병행수입 / 남성베이직 / 남성스포츠 / 남성어덜트캐주얼 / 남성이지캐주얼 / 남성스포츠PB / 남성스포츠NPB / 남성스포츠특정

<<<< 패션의류-여성 >>>>
스트리트편집샵 / 행사 / 이지캐주얼브랜드 / 여성캐주얼브랜드 / 마담/어덜트 / 미시캐주얼 / 여성베이직 / 여성이지캐주얼 / 여성PB / 여성NPB / 여성특정

<<<< 패션의류_남성 >>>>
남성정장 / 남성캐주얼 / 트래디셔널 / 교복 / 셔츠 / 남성 트랜디

<<<< 패션의류_여성 >>>>
캐주얼 / 커리어 / 트래디셔널 / 시티웨어 / 란제리/내의 / 블라우스 / 기타의류 / 디자이너 / 모피/피혁

<<<< 패션잡화 >>>>
섬유잡화 / 액세서리 / 화장품 / 보석 / 준보석/시계 / 피혁잡화 / 구두 / 드레스화브랜드 / 캐주얼화브랜드 / 아동화브랜드 / 슈즈행사 / 남성구두 / 여성구두 / 샌들슬리퍼 / NB구두 / 운동화 / 준보석 / 시계 / 피혁브랜드 / 가방브랜드 / 잡화멀티샵 / 미입점행사 / 지갑 / 벨트 / 핸드백 / 가방 / 피혁토탈 / 모자 / 우산/양산 / 스카프 / 장갑 / 시즌토탈 / 썬글라스 / 여행용품 / 시즌슈즈 / 스포츠슈즈 / 아동슈즈 / 캐주얼슈즈 / 슈즈용품 / 지갑/벨트 / TRAVEL / 시즌잡화

<<<< 편의시설 >>>>
Fast Food / 편의시설 / 레스토랑 / 카페 / 판매시설 / 주유소

<<<< 편의용품 >>>>
화장지/티슈 / 방향/제습/탈취제 / 기기 / 미용소품 / 양말류 / 우산/양산류 / 파티/팬시용품 / 전기용품 / 안전용품 / 여행용품 / 계절팩

<<<< 향수 >>>>
여성 / 남성

In [3]:
purprd = pd.read_pickle("dataset/purprd_s/purprd_prodcat.pkl")

In [5]:
purprd.head(3)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품
2,A,2757987,400,10,20140920,12,5000,9,1,104,A010402,식품,농산물,채소

In [16]:
region = pd.read_pickle("dataset/purprd_region.pkl")
region.head(3)

,제휴사,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,거주지역
0,B,8750675,12,1206,B120605,12231,44,20150715,16,5380,100.0
1,B,8750676,6,604,B060403,6422,44,20150715,16,6500,100.0
2,B,8750676,89,8901,B890101,6422,44,20150715,16,2500,100.0

In [17]:
purprd['거주지역'] = region[['거주지역']]

In [37]:
purprd.head(1)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,100.0

In [33]:
cust =pd.read_csv('dataset/고객DEMO.csv')
cust.head(2)

   고객번호 성별    연령대   거주지역
0     1  M  60세이상   60.0
1     2  M  60세이상  100.0

In [36]:
cust.고객번호.nunique()

19383

In [41]:
cust.거주지역.isnull().sum()

178

In [38]:
purprd.고객번호.nunique()

19383

In [32]:
purprd.거주지역.isnull().sum()

204939

In [44]:
purprd.거주지역 = purprd.거주지역.fillna(0)

In [45]:
purprd.거주지역.isnull().sum()

0

In [47]:
purprd = purprd.astype({'거주지역':int})
purprd.head(2)

# 거주지역 nan값인 고객 178명의 거주지역(naN) 에 대해서는 0값으로 대체

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,100
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,100

In [50]:
purprd.거주지역.unique()

array([100,  55, 300,  69,   0,  49,  52,  45,  60, 210,  39,  33,  24,
        16,  79,  20,  13, 310, 610, 460,  10,  43,  36, 340, 270, 240,
        65,  27,  87, 500,  75,  72, 630,  47, 540,  82, 410, 360, 440,
        30, 570,  85])

In [51]:
dict_region = {100:'경기 김포시',  55:'서울 송파구', 300:'세종 장군',  69:'서울 동작구',   0:'X',  49:'서울 광진구',
               52:'서울 강동구',  45:'서울 중구',  60:'서울 강남구', 210:'인천 계양구',  39:'서울 마포구',  33:'서울 은평구', 
               24:'서울 동대문구', 16:'서울 노원구',  79:'서울 양천구',  20:'서울 중랑구',  13:'서울 도봉구' , 310:'충청남도 천안',
               610:'광주 북구', 460:'부산 기장',  10:'서울 강북구',  43:'서울 용산구',  36:'서울 서대문구', 340:'대전 유성구', 
               270:'충청북도', 240: '강원도 철원', 65:'서울 서초구',  27:'서울 성북구',  87:'서울 관악구', 500:'경상남도 함양',
               75:'서울 강서구',  72:'서울 영등포구', 630:'경상북도 영주',  47:'서울 성동구', 540:'전라북도 군산',  82:'서울 구로구',
               410:'대구 동구', 360:'경상북도 영주', 440:'울산 동구',30:'서울 종로구', 570:'전라남도 영광',  85:'서울 금천구' }    

def region_col(x):
    if x in dict_region: 
        return dict_region[x]     
    else:
        return x             # 만약에 대분류 안하면 그냥 숫자값으로 줌
purprd['거주지역_'] = purprd['거주지역'].apply(region_col)

purprd.head(5)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역,거주지역_
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,100,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,100,경기 김포시
2,A,2757987,400,10,20140920,12,5000,9,1,104,A010402,식품,농산물,채소,100,경기 김포시
3,A,2757987,400,10,20140920,12,10200,9,1,107,A010705,식품,젓갈/반찬,벌크김치,100,경기 김포시
4,A,2757988,2043,10,20140920,13,3950,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,100,경기 김포시

In [52]:
purprd.거주지역_.isnull().sum()

0

In [55]:
purprd.drop('거주지역',axis=1,inplace=True)
purprd.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역_
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,경기 김포시

In [58]:
purprd=purprd.rename(columns={'거주지역_':'거주지역'})
purprd.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,경기 김포시

In [59]:
purprd.거주지역.unique()

array(['경기 김포시', '서울 송파구', '세종 장군', '서울 동작구', 'X', '서울 광진구', '서울 강동구',
       '서울 중구', '서울 강남구', '인천 계양구', '서울 마포구', '서울 은평구', '서울 동대문구',
       '서울 노원구', '서울 양천구', '서울 중랑구', '서울 도봉구', '충청남도 천안', '광주 북구',
       '부산 기장', '서울 강북구', '서울 용산구', '서울 서대문구', '대전 유성구', '충청북도', '강원도 철원',
       '서울 서초구', '서울 성북구', '서울 관악구', '경상남도 함양', '서울 강서구', '서울 영등포구',
       '경상북도 영주', '서울 성동구', '전라북도 군산', '서울 구로구', '대구 동구', '울산 동구',
       '서울 종로구', '전라남도 영광', '서울 금천구'], dtype=object)

In [2]:
purprd.to_pickle('dataset/purprd_region.pkl')

NameError: name 'purprd' is not defined

# -----------------------------0920---------------------------------

In [4]:
import pandas as pd 
purprd= pd.read_pickle('dataset/purprd_region.pkl')

In [5]:
purprd.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,경기 김포시

In [6]:
############################ 여기서만 ############################
purprd.drop(columns=['영수증번호','대분류코드','중분류코드','소분류코드','소분류명'],inplace=True)
purprd.head(2)

  제휴사   고객번호  점포코드      구매일자  구매시간  구매금액  구매월     대분류명  중분류명    거주지역
0   A  15148    10  20140920    20  1000    9  가구/인테리어  일용잡화  경기 김포시
1   A  15148    10  20140920    20  4100    9       식품  가공식품  경기 김포시

In [7]:
cust= pd.read_csv('dataset/고객DEMO.csv')
cust.head(2)

   고객번호 성별    연령대   거주지역
0     1  M  60세이상   60.0
1     2  M  60세이상  100.0

In [18]:
purprd

         제휴사   고객번호  점포코드      구매일자  구매시간   구매금액  구매월     대분류명   중분류명    거주지역
0          A  15148    10  20140920    20   1000    9  가구/인테리어   일용잡화  경기 김포시
1          A  15148    10  20140920    20   4100    9       식품   가공식품  경기 김포시
2          A    400    10  20140920    12   5000    9       식품    농산물  경기 김포시
3          A    400    10  20140920    12  10200    9       식품  젓갈/반찬  경기 김포시
4          A   2043    10  20140920    13   3950    9  가구/인테리어   일용잡화  경기 김포시
...       ..    ...   ...       ...   ...    ...  ...      ...    ...     ...
28593025   D  15835    40  20151026    13   3000   22       간식     음료  인천 계양구
28593026   D  15835    40  20151026    13   1300   22       간식     음료  인천 계양구
28593027   D   2070    40  20151026    16  59700   22     바디케어   헤어케어  인천 계양구
28593028   D  15835    40  20151026    23   2000   22       간식     과자  인천 계양구
28593029   D  13918    43  20151202    22   2500   24       간식     과자  인천 계양구

[28593030 rows x 10 columns]

In [21]:
prod_cust = pd.merge(purprd,cust[['고객번호','성별']],
                     on='고객번호', how='left')
prod_cust.head(2)

  제휴사   고객번호  점포코드      구매일자  구매시간  구매금액  구매월     대분류명  중분류명    거주지역 성별
0   A  15148    10  20140920    20  1000    9  가구/인테리어  일용잡화  경기 김포시  F
1   A  15148    10  20140920    20  4100    9       식품  가공식품  경기 김포시  F

In [23]:
df= prod_cust.copy()

In [41]:
# pd.options.display.max_rows=1000
# df[['구매금액']].groupby([df['제휴사'],df['대분류명'],df['성별']]).sum()

In [45]:
dd= pd.read_csv('dataset/경쟁사이용.csv')
dd.head(1)

   고객번호 제휴사  경쟁사    이용년월
0     2   D  D02  201507

In [71]:
# d1= dd[['고객번호']]
da= dd.groupby('고객번호').count()
aa = da[['제휴사']].rename(columns={'제휴사':'이용횟수'})

In [72]:
aa

       이용횟수
고객번호
1        15
2         8
4         3
7         1
8         3
...     ...
19370    24
19372     4
19375     6
19376     1
19377     1

[5881 rows x 1 columns]

In [ ]:
df_all = pd.merge(df,dd[['고객번호','경쟁사']],
                     on='고객번호', how='left')