In [ ]:
# 과제
# Q. offset.rollforward 기준으로 그룹화를 진행 후 그룹별 평균값을 출력하세요.

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [3]:
offset = MonthEnd()
print(offset.rollforward(now))
offset.rollback(now)

2011-11-30 00:00:00

Timestamp('2011-10-31 00:00:00')

In [34]:
df = pd.Series(np.random.randn(20),
               index=pd.date_range('3/12/1998', periods=20, freq='10d'))
print(df)

1998-03-12    0.054984
1998-03-22   -1.480363
1998-04-01   -0.871362
1998-04-11    0.848411
1998-04-21    0.790823
1998-05-01    0.111364
1998-05-11    1.114305
1998-05-21   -0.892554
1998-05-31    0.449936
1998-06-10   -0.919634
1998-06-20    0.489587
1998-06-30    0.768269
1998-07-10    1.048542
1998-07-20    0.880744
1998-07-30    0.962137
1998-08-09    0.658900
1998-08-19   -1.485825
1998-08-29    1.027317
1998-09-08    0.431285
1998-09-18    1.600044
Freq: 10D, dtype: float64

In [35]:
df.groupby(offset.rollforward).mean()

1998-03-31   -0.712689
1998-04-30    0.255957
1998-05-31    0.195763
1998-06-30    0.112741
1998-07-31    0.963807
1998-08-31    0.066797
1998-09-30    1.015665
dtype: float64

In [36]:
# 과제
# Q. 상기 문제를 resample을 사용하여 수행하세요

In [39]:
df1 = df.resample('M').mean()
df1

1998-03-31   -0.712689
1998-04-30    0.255957
1998-05-31    0.195763
1998-06-30    0.112741
1998-07-31    0.963807
1998-08-31    0.066797
1998-09-30    1.015665
Freq: M, dtype: float64

In [ ]:
# 과제
# Q. 날짜 데이터를 인덱스로 하는 5가지 이상의 컬럼을 포함하고 있는 데이터 셋을 
# 생성하세요.단 각 컬럼은 인덱스별 의미있는 값을 갖도록 만든 후 다음을 수행하세요
# - 특정 연별, 월별, 일별 특정 컬럼 값 집계
# - 인덱스를 실수형으로 변환 후 다시 datetiem으로 변환
# - 인덱스의 포멧을 변환

In [57]:
d= pd.date_range('3/12/1998','3/12/2005')
df_= pd.DataFrame({'date':d})

# tem= pd.Series(np.random.randint(35,40),name= '온도')
# weth=pd.Series(np.random.choice(['맑음','흐림','비','눈']),name='날씨')
# dust=pd.Series(np.random.choice(['매우좋음','좋음','나쁨','매우나쁨']),name='미세먼지')
# rain= pd.Series(np.random.randint(0,100),name='강수확률')

df_ = pd.concat([df_,tem,weth,dust,rain],axis=1)
df_

           date    온도   날씨  미세먼지  강수확률
0    1998-03-12  38.0    눈  매우나쁨  38.0
1    1998-03-13   NaN  NaN   NaN   NaN
2    1998-03-14   NaN  NaN   NaN   NaN
3    1998-03-15   NaN  NaN   NaN   NaN
4    1998-03-16   NaN  NaN   NaN   NaN
...         ...   ...  ...   ...   ...
2553 2005-03-08   NaN  NaN   NaN   NaN
2554 2005-03-09   NaN  NaN   NaN   NaN
2555 2005-03-10   NaN  NaN   NaN   NaN
2556 2005-03-11   NaN  NaN   NaN   NaN
2557 2005-03-12   NaN  NaN   NaN   NaN

[2558 rows x 5 columns]