- 가공식품
- 신선식품
- 일상용품
- 의약품/의료기기
- 교육/문화용품
- 디지털/가전
- 가구/인테리어
- 의류
- 전문스포츠/레저
- 패션잡화
- 기타 (원래 기타상품인데 기타로 변경)
--------------------------------------------
* 명품은 카테고리에 없는데 분류하기 애매해서 일단 대분류-명품으로 설정해둠
* 기타에 기타/ 음식점/ 편의시설 - 장소 포함


<<롯데몰>>
광명/ 진주/ 군산/ 월드/ 김포공항/ 수원/ 
            은평/ 수지/ 피트인 산본/ 여수/ 부산(기장)
            
진주 : 경상남도 진주
군산 : 전북 군산
월드: 서울 송파구
수원: 경기도 수원
수지: 경기도 용인시 수지구
피트인 산본: 경기도 군포시 
여수: 전남 여수 





<<롯데백화점>>

본점(영플라자포함), 잠실점, 영등포점,
청량리점, 관악점, 강남점, 노원점, 미아점
건대스타시티점, 김포공항점

분당점, 일산점, 중동점, 구리점, 안산점,
평촌점, 수원점, 인천터미널점, 동탄점

부산 - 부산본점, 센텀시티점, 광복점, 동래점

광주점, 대전점, 포항점, 울산점,
창원점, 대구점, 상인점, 전주점, 마산점

In [2]:
import pandas as pd
a = pd.read_pickle("dataset/purprd_region.pkl")
a.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,경기 김포시

In [3]:
# a[(a.대분류명=='식품')&(a.중분류명=='기타')].소분류명.unique()
a[(a.대분류명=='명품')].소분류명.unique()

array(['힐앤토트', '컨템포러리', '명품기타', '남성해외패션', '명품잡화', '어덜트', '명품멀티기타',
       'global 편집샵', '수입의류', '직수입', '수입잡화', '명품시계기타', '명품남성', '명품잡화보석',
       '갤러리', '디자이너', '명품잡화행사', '주얼리멀티', '명품보석', '엘리든', '명품의류기타',
       '명품의류행사', '잡화멀티샵'], dtype=object)

In [4]:
import pandas as pd
prodcat = pd.read_pickle("dataset/purprd_region.pkl")
prodcat.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류코드,중분류코드,소분류코드,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,9,101,A010101,가구/인테리어,일용잡화,위생세제,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,1,106,A010608,식품,가공식품,일반가공식품,경기 김포시

In [5]:
prodcat.drop(columns=['대분류코드','중분류코드','소분류코드'],inplace=True)
prodcat.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류명,중분류명,소분류명,거주지역
0,A,2757986,15148,10,20140920,20,1000,9,가구/인테리어,일용잡화,위생세제,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,식품,가공식품,일반가공식품,경기 김포시

In [6]:
print('A제휴사 대분류코드>> ',prodcat[(prodcat.제휴사=='A')].대분류명.unique())

A제휴사 대분류코드>>  ['가구/인테리어' '식품' '패션잡화' '아동' '패션의류_여성' '명품' '패션의류_남성' '스포츠' '가전']

In [7]:
# food_list = list(prodcat[(prodcat['대분류명'] == '식품') & (prodcat['중분류명'] == '가공식품')]['대분류명'].index)
# prodcat.loc[food_list]['대분류명'] = '가공식품'

# data.loc[(data.id.isin([10,20,30,40])) & (data.source.isnull()), 'id'] = 50
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='가공식품') , '대분류명'] = '가공식품'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='농산물') , '대분류명'] = '농산물'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='젓갈/반찬') , '대분류명'] = '가공식품'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='주류') , '대분류명'] = '주류'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='축산가공') , '대분류명'] = '축산물'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='차/커피') , '대분류명'] = '커피/차'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='육류') , '대분류명'] = '축산물'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='수산품') , '대분류명'] = '수산물'
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat['중분류명']=='건강식품') , '대분류명'] = '건강'

prodcat.loc[(prodcat.대분류명=='건강')&(prodcat['중분류명']=='담배') , '대분류명'] = '생활용품'
prodcat.loc[(prodcat.대분류명=='아동')&(prodcat['중분류명']=='교육') , '대분류명'] = '생활용품'

In [8]:
prodcat.loc[(prodcat.대분류명=='식품')&(prodcat.중분류명=='기타'), '대분류명'] = '기타'

In [9]:
prodcat[(prodcat.대분류명=='식품')].중분류명.unique()

array([], dtype=object)

In [10]:
prodcat[(prodcat.대분류명=='음식점')].중분류명.unique()

array(['중식', '한식', '양식', '일식', '푸드코트', '분식', '컨세션', '카페', '레스토랑', '패스트푸드'],
      dtype=object)

In [11]:
prodcat.loc[(prodcat.대분류명=='패션의류-남성'), '대분류명'] = '패션의류_남성'
prodcat.loc[(prodcat.대분류명=='패션의류-여성'), '대분류명'] = '패션의류_여성'

In [12]:
prodcat.대분류명.unique()

array(['가구/인테리어', '가공식품', '농산물', '주류', '축산물', '커피/차', '수산물', '패션잡화', '아동',
       '패션의류_여성', '명품', '패션의류_남성', '스포츠', '가전', '건강', '기타', '음료', '생활용품',
       '조리식품', '과일', '문구/공구/서적', '가정용품', '반찬', '간식', '잡곡', '조미료/소스',
       '애완/동물물품', '뷰티', '언더웨어', '음식점', '편의시설', '자동차', '조리식품/간식',
       '냉장/냉동식품', '가공식품/건강', '편의용품', '바디케어', '건강케어', '향수', '메이크업', '기초케어'],
      dtype=object)

- 가공식품
- 신선식품
- 일상용품
- 의약품/의료기기
- 교육/문화용품
- 디지털/가전
- 가구/인테리어
- 의류
- 전문스포츠/레저
- 패션잡화
- 기타상품

In [13]:
cat = {'가구/인테리어':'가구/인테리어', '가공식품':'가공식품', '농산물':'신선식품', '주류':'가공식품', '축산물':'신선식품',
       '커피/차':'가공식품', '수산물':'신선식품', '패션잡화':'패션잡화', '아동':'일상용품',
       '패션의류_여성':'의류', '명품':'명품', '패션의류_남성':'의류', '스포츠':'전문스포츠/레저',
       '가전':'디지털/가전', '건강':'가공식품', '기타':'기타', '음료':'가공식품', '생활용품':'일상용품',
       '조리식품':'가공식품', '과일':'신선식품', '문구/공구/서적':'교육/문화용품', '가정용품':'일상용품',
       '반찬':'가공식품', '간식':'가공식품', '잡곡':'신선식품', '조미료/소스':'가공식품',
       '애완/동물물품':'일상용품',  '뷰티':'일상용품', '언더웨어':'일상용품', '음식점':'기타', '편의시설':'기타',
       '자동차':'일상용품', '조리식품/간식':'가공식품', '냉장/냉동식품':'가공식품', '가공식품/건강':'가공식품', 
       '편의용품':'일상용품', '바디케어':'일상용품', '건강케어':'일상용품',
       '향수':'일상용품', '메이크업':'일상용품', '기초케어':'일상용품'}    

def B_cat(x):
    if x in cat: 
        return cat[x]     
    else:
        return x             # 만약에 대분류 안하면 그냥 숫자값으로 줌
prodcat['대분류명_'] = prodcat['대분류명'].apply(B_cat)

prodcat.head(5)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,대분류명,중분류명,소분류명,거주지역,대분류명_
0,A,2757986,15148,10,20140920,20,1000,9,가구/인테리어,일용잡화,위생세제,경기 김포시,가구/인테리어
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,가공식품,일반가공식품,경기 김포시,가공식품
2,A,2757987,400,10,20140920,12,5000,9,농산물,농산물,채소,경기 김포시,신선식품
3,A,2757987,400,10,20140920,12,10200,9,가공식품,젓갈/반찬,벌크김치,경기 김포시,가공식품
4,A,2757988,2043,10,20140920,13,3950,9,가구/인테리어,일용잡화,위생세제,경기 김포시,가구/인테리어

In [14]:
prodcat.대분류명_.unique()

array(['가구/인테리어', '가공식품', '신선식품', '패션잡화', '일상용품', '의류', '명품', '전문스포츠/레저',
       '디지털/가전', '기타', '교육/문화용품'], dtype=object)

In [15]:
# prodcat[(prodcat.중분류명=='생활한방')].소분류명.unique()

prodcat.loc[(prodcat['중분류명']=='생활한방') , '대분류명_'] = '가공식품'

In [16]:
prodcat.loc[(prodcat.대분류명_=='패션잡화')&(prodcat['중분류명']=='화장품') , '대분류명_'] = '일상용품'
prodcat.loc[(prodcat.대분류명_=='가구/인테리어')&(prodcat['중분류명']=='문구/팬시 ') , '대분류명_'] = '교육/문화용품'

In [17]:
check= prodcat.copy()

In [18]:
## 확인 

check=check.drop_duplicates(['대분류명_','중분류명'])
save_list = check.groupby(['대분류명_'])['중분류명'].apply(lambda x: " / ".join(x))
for i in zip(save_list.index,save_list.values):
    print(f"<<<< {i[0]} >>>>\n{i[1]} ")
    print()

<<<< 가공식품 >>>>
가공식품 / 젓갈/반찬 / 주류 / 차/커피 / 건강식품 / 탄산음료 / 소주 / 맥주 / 생수 / 흰우유 / 어묵맛살 / 유제품 / 면류 / 통조림 / 빵 / 가공우유 / 커피차음료 / 라면 / 냉동만두 / 반찬류 / 요구르트 / 스낵 / 비스켓 / 초콜릿 / 과채음료 / 냉동간식 / 피자 / 단무지류 / 식용유지 / 커피 / 와인 / 캔디 / 껌 / 밥류 / 튀김조리 / 햄소시지 / 두유 / 소스류 / 가루 / 시리얼 / 떡 / 냉장반찬 / 아이스크림 / 이온음료 / 브랜드빵 / 간편조리식품 / 냉장면류 / 전통주 / 차 / 간편조리 / 소시지 / 베이커리 / 냉동HMR / 간식 / 특산물행사 / 파이 / 햄 / 인스턴트커피 / 포장반찬 / 냉장식사HMR / 김/초밥 / 맛집행사 / 먹거리행사 / 구이 / 냉동대용식 / 조미선물세트 / 조미료 / 분유 / 장류 / 족발 / 안주 / 수입과자 / 계란 / 디저트 / 프리미엄과자 / 치즈 / 냉장음료 / 생활한방 / 젓갈류 / 김치류 / 튀김 / 밥죽류 / 기능성음료 / 담배 / 간식조리 / 먹거리 / 액상조미료 / 구이찜조리 / 한과 / 전통간식 / 잼 / 선식 / 포장젓갈 / 반찬 / 소금/설탕류 / 냉장간편식HMR / 시즌차 / 전통과자 / 간편요리 / 양주 / 브랜드푸드몰 / 즉석구이안주 / 순대 / 간식용과자 / 조리반찬 / 향신료 / 복합조미료 / 수입조미 / 시즌반찬 / 이유식/유아간식 / 인스턴트선물세트 / 수입음료 / 유가공 / 식자재 / 대용식 / 커피선물세트 / 원두커피 / 도시락 / 가공란 / 즉석구이김 / 이벤트조리 / 기능성건강 / 홍인삼 / 선물세트 / 종합과자 / 비타민 / 건강선물세트 / 꿀 / 시즌행사 / 데일리처분 / 브랜드조리 / 차선물세트 / 포장반찬HMR / 냉장햄세트 / 건면 / 냉장농산 / 기타음주류 / 냉장축산 / 우유 / 커피류 / 차류 / 발효유 / 쿠키케이크 / 캔디껌류 / 냉장수산 / 냉장간식MS / 냉장식사MS / 병통조림 / 식용유 / 감미료 / 씨리얼 / 초콜렛 / 만두 / 즉석식품 / 기타조리식품 / 치즈버터 / 차음료 / 커피음료 / 가공건식품 / 가공분말류 / 케첩마요네즈 / 간편간식 / 냉장기타MS / 냉동MS / 식사류 / 과자 / 음료

<<<< 가구/인테리어 >>>>
일용잡화 / 침구/수예 / 주방용품 / 생활잡화 / 문구/팬시 / 식기 / 가구 / 웨딩 / 수예시즌 / 수예소품 / 커튼류 / 브랜드침구 / 성인침구 / 장식용품 / 건전지 / 보수용품 / 성인침구류 / 조명/전구 / 아동침구류 / 가구/인테리어샵 / 소가구 / 의자/상 / 아동침구 / 상 / 벽지류 / 의자 / 테이블 / 아웃도어퍼니처 / 제기용품

<<<< 교육/문화용품 >>>>
오피스용품 / 노트/지류 / 예능학용품 / 파티/팬시/시즌 / 필기도구 / 시즌행사 / 전구 / 유/아동서적 / 파티/팬시 / 전기용품 / 공구 / 건전지 / 서적 / 교육보조재 / 일반서적 / 보수용품 / 음반영상 / 노트 / 영상 / 음반 / 미술용품 / 안전용품 / 조명기구

<<<< 기타 >>>>
기타 / 중식 / 한식 / 양식 / 편의시설 / 일식 / 푸드코트 / 판매시설 / Fast Food / 분식 / 레스토랑 / 카페 / 컨세션 / 주유소 / 패스트푸드

<<<< 디지털/가전 >>>>
주방가전 / 통신/컴퓨터 / 대형가전 / 소형가전 / 악기 / 전자/전기 / 건강가전 / 생활소형가전 / 전기요/장판 / 이동통신 / 컴퓨터주변기기 / 밥솥 / 청소기 / 시즌/건강가전 / 기타음향기기 / 전기포트 / 믹서기 / NAVI/하이패스 / 기타주방가전 / TV / 세탁기 / 조리기 / 오디오 / 가습기 / 전화기/팩스 / 히터기 / 커피메이커/머신 / 카메라/캠코더 / PC / 김치냉장고 / MP3/PMP / 공기청정기 / 냉장고 / 선풍기 / 에어컨 / 전기면도기 / DVD / 건강디지털기기 / 전자학습기 / 전자악기 / 홈시어터 / 소형음향기기 / 주방소형가전 / 정수기

<<<< 명품 >>>>
명품

<<<< 신선식품 >>>>
농산물 / 축산가공 / 육류 / 수산품 / 친환경채소 / 간편조리생선 / 버섯류 / 해조류 / 샐러드채소 / 우육 / 과채과일 / 닭고기 / 콩나물 / 두부 / 과실과일 / 친환경과일 / 양념류 / 간편채소 / 수입기타과일 / 즉석도정미 / 열매채소 / 포도/체리 / 뿌리채소 / 양념육 / 열대과일 / 대중선어 / 특산물 / 건과 / 돼지고기 / 계란 / 잎채소 / 묵 / 잡곡류 / 키위/석류 / 김치채소 / 조개살 / 해물연체류 / 즉석참기름 / 수입감귤과일 / 감귤 / 토마토 / 바나나 / 김가공품 / 조개 / 새우 / 양념채소 / 수입갈치 / 꽁치/가자미 / 멸치 / 일반한우 / 마른김 / 조미오징어 / 차별화돼지고기 / 미국산소고기 / 수입육 / 멸치건명태 / 생선회 / 나물 / 마른안주 / 오리고기 / 간편조리행사 / 호주산소고기 / 버섯 / 양곡 / 선식 / 사과 / 감 / 냉동수산물 / 브랜드한우 / 해초류 / 수입고등어 / 브랜드돼지고기 / 국산게/갈치 / 선물세트 / 석류 / 샐러드/간편채소 / 잡곡 / 한방식재류 / 키위 / 반건생선 / 조미김 / 한방차 / 딸기 / 수입기타생선 / 고등어/삼치 / 가공양곡 / 육포 / 파인애플 / 묵/즉석참기름 / 미역/다시마 / LOCAL잎채소 / 기타구색생선 / 오징어 / 수입돼지고기 / 자몽 / 수입포도 / 포도 / 육가공품 / 밤 / 메론 / 레몬 / 식자재 / 대구 / 연체 / 건오징어 / 오렌지 / 블루베리 / 조기/명태 / 배 / 냉동규격생선 / 해초 / 황태 / 구색과일 / 냉동규격해물 / 냉동가공 / 수입게 / 수입연어 / 기타회 / 냉장규격생선 / 천연조미료 / 규격RTC / 도미/민어 / 망고 / 쥐치포 / 열대과일기타 / 약초 / 오렌지과일기타 / 생선선물세트 / 기타국소고기 / 냉동과일 / 복숭아 / 굴비 / 건강선물세트 / 김선물세트 / 생선초밥 / 멸치황태미역선물세트 / 수입육선물세트 / 참외 / 수박 / LOCAL김치채소 / 국산과일선물세트 / 체리 / 한우선물세트 / 자두 / 규격생선선물세트 / 굴비/반건생선선물세트 / 온라인잡곡선식 / 온라인버섯/열매채소 / 특산물행사 / 즉석구이안주 / 오렌지과일선물세트 / 즉석구이김 / 마른안주선물세트 / 열대과일선물세트 / 해물선물세트 / 온라인규격/간편조리생선 / 온라인해물연체 / 온라인잎/샐러드채소 / 온라인양념/뿌리채소 / 온라인저장과일 / 온라인돼지고기 / 김치채소류 / 국내산돈육 / 국산과일 / 두채류 / 선어류 / 건어류 / 건어가공 / 수입과일 / 과채류 / 근채류 / 엽채류 / 계란류 / 견과류 / 국내산계육 / 나물류 / 선어가공 / 양채류 / 수입우육 / 국내산우육 / 해물류 / 기타수산 / 기타축산 / 건과일 / 수입돈육 / 선식류

<<<< 의류 >>>>
캐주얼 / 디자이너 / 셔츠 / 남성 트랜디 / 트래디셔널 / 기타의류 / 란제리/내의 / 커리어 / 남성캐주얼 / 시티웨어 / 남성정장 / 모피/피혁 / 교복 / 블라우스 / 여성캐주얼브랜드 / 남성스포츠PB / 남성행사 / 비즈니스정장 / 여성PB / 남성브랜드 / 이지캐주얼브랜드 / 행사 / 미시캐주얼 / 남성이지캐주얼 / 남성스포츠 / 시티캐주얼 / 남성시즌행사 / 여성이지캐주얼 / 스트리트편집샵 / 복합샵 / 여성특정 / 여성NPB / 마담/어덜트 / 남성베이직 / 남성스포츠특정 / 남성스포츠NPB / 남성어덜트캐주얼 / 여성베이직 / 병행수입

<<<< 일상용품 >>>>
아동 / 화장품 / 생리대 / 바디용품 / 세탁세제 / 야외용품 / 주방시즌/균일가 / 주거세제 / 청소용품 / 애견용품 / 음식조리 / 주방세제 / 화장지 / 구강용품 / 욕실용품 / 바디케어 / 종량제봉투 / 균일가 / 기초화장품 / 색조화장품 / 아동복합샵 / 드럭스토어 / 유아브랜드 / 아동브랜드 / 음식저장/보관 / 일반욕실용품 / 훼이셜케어 / 미용소품 / 헤어스타일링 / 그릇/수저 / 기저귀 / 란제리 / 주방정리 / 면도용품 / 교육 / 개인위생용품 / 표백제 / 미용티슈 / 야외/시즌용품 / BOYS 1 / 유아위생용품 / 키친타올 / 자동차 정비용품 / 자동차 액세서리 / SPORTS/OUTDOOR / 유아용품 / 성인내의 / 스킨케어 / 유아동PB / 수납용품 / 기능헤어케어 / 란제리브랜드 / 화장품브랜드샵 / 자동차 청소용품 / 카시트/매트 / 애완/동물용품 / 국내화장품 / 아동내의 / GIRLS / 유아식기 / 조리도구 / 언더웨어행사 / 물티슈 / 스타킹 / 일반헤어케어 / 남성용품 / 미용잡화 / 담배 / 유아동용품 / 남아 / 양말 / BABY/INFANT / 유아세제 / 교환/보수용품 / 청소편의도구 / 고양이용품 / 여성위생용품 / 섬유유연제 / 여성양말 / 장착용품 / 아로마 / 수족관용품 / 세탁용품 / 남성양말 / 유아토들러 / 탈취제 / 밀대/걸레 / 자동차 편의용품 / 자동차장식용품 / 베이비케어 / BOYS 2 / 살충제 / EDUCATION 1 / 휴대폰용품 / 세차용품 / 원예용품 / 덴탈케어 / VIDEOGAME / 홈웨어 / H&B선물세트 / 아동행사 / EDUCATION 2 / 자동차방향제/소취제 / 유아동특정 / 수입브랜드 / 조리용기 / 동물병원 / 아동양말 / 휴지통 / 패브릭욕실용품 / 풋/핸드케어 / 제습제 / 수도용품 / 유아동NPB / 주니어양말 / 매트 / 덧신 / 시니어위생용품 / DIY욕실용품 / 주니어스포츠 / 주니어웨어 / 프리미엄매트 / 양말선물세트 / 온라인양말 / 자동차처분 / 오토바이용품 / 온라인화장품 / 생리용품 / 가정잡화 / 청소욕실용품 / 주방주거세제 / 주방용품 / 문화용품 / 두발용품 / 전기전자 / 레저취미 / 위생용품 / 의류잡화 / 화장지/티슈 / 건강기능식품 / 남성 / 핸드/풋케어 / 네일메이크업 / 헤어케어 / 양말류 / 립메이크업 / 일반의약외품 / 집중케어 / 남성케어 / 구강케어 / 계절팩 / 방향/제습/탈취제 / 아이메이크업 / 클렌징 / 여성용품 / 베이직케어 / 여행용품 / 베이스메이크업 / 선케어 / 여성 / 파티/팬시용품 / 전기용품 / 피트니스 / 기기 / 우산/양산류 / 안전용품

<<<< 전문스포츠/레저 >>>>
스포츠 / 골프용품 / 스포츠NB / 스포츠웨어 / 헬스용품 / 구기용품 / 시즌행사 / 브랜드 / 등산 / 수영복 / 라켓스포츠 / 롤러보드 / 워터스포츠 / 스포츠의류 / 스키 / 자전거 / 윈터스포츠 / 스포츠ACC / 골프 / 낚시 / 시니어건강용품 / 캠핑 / 스포츠브랜드편집

<<<< 패션잡화 >>>>
섬유잡화 / 피혁잡화 / 구두 / 보석 / 액세서리 / 준보석/시계 / 드레스화브랜드 / 모자 / 시즌잡화 / 아동슈즈 / 샌들슬리퍼 / 운동화 / 우산/양산 / 가방 / NB구두 / 피혁토탈 / TRAVEL / 장갑 / 준보석 / 시계 / 피혁브랜드 / 스카프 / 남성구두 / 썬글라스 / 시즌슈즈 / 캐주얼화브랜드 / 미입점행사 / 잡화멀티샵 / 핸드백 / 시즌토탈 / 벨트 / 캐주얼슈즈 / 스포츠슈즈 / 가방브랜드 / 슈즈용품 / 여성구두 / 슈즈행사 / 지갑/벨트 / 아동화브랜드 / 지갑 / 여행용품

In [19]:
prodcat.대분류명_.unique()

array(['가구/인테리어', '가공식품', '신선식품', '패션잡화', '일상용품', '의류', '명품', '전문스포츠/레저',
       '디지털/가전', '기타', '교육/문화용품'], dtype=object)

In [20]:
prodcat.drop(columns=['대분류명'],inplace=True)
prodcat.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,거주지역,대분류명_
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,경기 김포시,가구/인테리어
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,경기 김포시,가공식품

In [21]:
prodcat=prodcat.rename(columns={'대분류명_':'대분류명'})
prodcat.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,거주지역,대분류명
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,경기 김포시,가구/인테리어
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,경기 김포시,가공식품

In [22]:
prodcat.to_pickle('dataset/purprd_대분류명11_.pkl')

## ----------------------거주지역-------------------------------

In [23]:
df= prodcat.copy()

In [24]:
df.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,거주지역,대분류명
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,경기 김포시,가구/인테리어
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,경기 김포시,가공식품

In [25]:
df.drop(columns=['거주지역'],inplace=True)
df.head(2)

  제휴사    영수증번호   고객번호  점포코드      구매일자  구매시간  구매금액  구매월  중분류명    소분류명     대분류명
0   A  2757986  15148    10  20140920    20  1000    9  일용잡화    위생세제  가구/인테리어
1   A  2757986  15148    10  20140920    20  4100    9  가공식품  일반가공식품     가공식품

In [26]:
cust= pd.read_csv('dataset/고객DEMO.csv')
cust.head(2)

   고객번호 성별    연령대   거주지역
0     1  M  60세이상   60.0
1     2  M  60세이상  100.0

In [27]:
dict_region = {100:'경기 김포시',  55:'서울 송파구', 300:'세종 장군',  69:'서울 동작구',   0:'0',  49:'서울 광진구',
               52:'서울 강동구',  45:'서울 중구',  60:'서울 강남구', 210:'인천 계양구',  39:'서울 마포구',  33:'서울 은평구', 
               24:'서울 동대문구', 16:'서울 노원구',  79:'서울 양천구',  20:'서울 중랑구',  13:'서울 도봉구' , 310:'충청남도 천안',
               610:'광주 북구', 460:'부산 기장',  10:'서울 강북구',  43:'서울 용산구',  36:'서울 서대문구', 340:'대전 유성구', 
               270:'충청북도', 240: '강원도 철원', 65:'서울 서초구',  27:'서울 성북구',  87:'서울 관악구', 500:'경상남도 함양',
               75:'서울 강서구',  72:'서울 영등포구', 630:'경상북도 영주',  47:'서울 성동구', 540:'전라북도 군산',  82:'서울 구로구',
               410:'대구 동구', 360:'경상북도 영주', 440:'울산 동구',30:'서울 종로구', 570:'전라남도 영광',  85:'서울 금천구' }    

def region_col(x):
    if x in dict_region: 
        return dict_region[x]     
    else:
        return x             # 만약에 대분류 안하면 그냥 숫자값으로 줌
    
cust['거주지역_'] = cust['거주지역'].apply(region_col)

In [28]:
cust.head(2)

   고객번호 성별    연령대   거주지역   거주지역_
0     1  M  60세이상   60.0  서울 강남구
1     2  M  60세이상  100.0  경기 김포시

In [29]:
df_region = pd.merge( df, cust, on=['고객번호'], how='left')
df_region.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,대분류명,성별,연령대,거주지역,거주지역_
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,가구/인테리어,F,50세~54세,100.0,경기 김포시
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,가공식품,F,50세~54세,100.0,경기 김포시

In [30]:
ddf= df_region.copy()

In [31]:
ddf.연령대.unique()

array(['50세~54세', '60세이상', '40세~44세', '45세~49세', '30세~34세', '55세~59세',
       '35세~39세', '25세~29세', '20세~24세', '19세이하'], dtype=object)

In [32]:
dict_ = {'50세~54세':'50대', '40세~44세':'40대', '45세~49세':'40대', '30세~34세':'30대', '55세~59세':'50대',
       '35세~39세':'30대', '25세~29세':'20대', '20세~24세':'20대'}    

def age_col(x):
    if x in dict_: 
        return dict_[x]     
    else:
        return x             # 만약에 대분류 안하면 그냥 숫자값으로 줌
    
ddf['연령대_'] = ddf['연령대'].apply(age_col)

In [33]:
ddf.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,대분류명,성별,연령대,거주지역,거주지역_,연령대_
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,가구/인테리어,F,50세~54세,100.0,경기 김포시,50대
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,가공식품,F,50세~54세,100.0,경기 김포시,50대

In [34]:
ddf.drop(columns=['연령대'],inplace=True)

In [35]:
ddf=ddf.rename(columns={'연령대_':'연령대'})
ddf.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,대분류명,성별,거주지역,거주지역_,연령대
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,가구/인테리어,F,100.0,경기 김포시,50대
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,가공식품,F,100.0,경기 김포시,50대

In [36]:
ddf.drop(columns=['거주지역'],inplace=True)
ddf=ddf.rename(columns={'거주지역_':'거주지역'})
ddf.head(2)

,제휴사,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,구매월,중분류명,소분류명,대분류명,성별,거주지역,연령대
0,A,2757986,15148,10,20140920,20,1000,9,일용잡화,위생세제,가구/인테리어,F,경기 김포시,50대
1,A,2757986,15148,10,20140920,20,4100,9,가공식품,일반가공식품,가공식품,F,경기 김포시,50대

In [37]:
ddf.연령대.unique()

array(['50대', '60세이상', '40대', '30대', '20대', '19세이하'], dtype=object)

In [38]:
ddf.거주지역.unique()

array(['경기 김포시', '서울 은평구', '서울 동작구', '서울 광진구', '부산 기장', '서울 도봉구', nan,
       '인천 계양구', '광주 북구', '서울 동대문구', '서울 송파구', '서울 강남구', '서울 노원구',
       '서울 서초구', '경상북도 영주', '울산 동구', '서울 중구', '서울 마포구', '서울 성동구',
       '서울 서대문구', '서울 강북구', '서울 종로구', '서울 성북구', '서울 관악구', '대전 유성구',
       '서울 강서구', '전라북도 군산', '경상남도 함양', '대구 동구', '전라남도 영광', '서울 강동구',
       '서울 구로구', '서울 양천구', '서울 용산구', '서울 영등포구', '충청남도 천안', '강원도 철원',
       '서울 중랑구', '충청북도', '서울 금천구', '세종 장군'], dtype=object)

In [39]:
cust.거주지역_.value_counts()

경기 김포시     5993
부산 기장      1922
서울 송파구     1431
인천 계양구     1071
경상남도 함양     860
서울 노원구      819
광주 북구       639
서울 강남구      603
전라북도 군산     568
경상북도 영주     352
대전 유성구      346
서울 동대문구     339
충청북도        338
서울 광진구      329
대구 동구       321
전라남도 영광     294
서울 성동구      278
충청남도 천안     234
서울 도봉구      220
울산 동구       217
서울 강북구      185
강원도 철원      177
서울 강서구      175
서울 성북구      146
서울 서대문구     139
서울 마포구      119
서울 서초구      114
서울 영등포구     109
서울 용산구      109
서울 은평구       96
서울 관악구       95
서울 동작구       94
서울 강동구       88
서울 중랑구       76
서울 구로구       68
서울 종로구       66
서울 중구        54
서울 양천구       48
서울 금천구       41
세종 장군        32
Name: 거주지역_, dtype: int64

In [40]:
ddf.거주지역.value_counts()

경기 김포시     9048040
부산 기장      2533161
서울 송파구     2188368
인천 계양구     1731212
경상남도 함양    1228414
서울 노원구     1139970
광주 북구       972738
전라북도 군산     824423
서울 강남구      795692
충청북도        619727
전라남도 영광     597779
경상북도 영주     588043
대전 유성구      560302
서울 동대문구     552591
대구 동구       487676
서울 광진구      466495
서울 성동구      436510
충청남도 천안     406766
강원도 철원      328030
서울 강서구      303629
서울 도봉구      266061
서울 강북구      232119
울산 동구       230737
서울 서대문구     207180
서울 서초구      178614
서울 마포구      151758
서울 영등포구     147603
서울 성북구      146354
서울 용산구      139678
서울 은평구      129566
서울 강동구       95916
서울 구로구       94399
서울 동작구       93095
서울 관악구       91533
서울 종로구       73729
서울 중랑구       71729
서울 중구        66807
서울 양천구       65966
세종 장군        49051
서울 금천구       46630
Name: 거주지역, dtype: int64

In [41]:
ddf[ddf['제휴사']=='A'].거주지역.value_counts()

경기 김포시     1697757
부산 기장       758420
서울 송파구      553073
서울 노원구      399566
서울 강남구      354292
경상남도 함양     266789
인천 계양구      176890
광주 북구       118796
서울 동대문구     111641
울산 동구       105443
전라북도 군산     102702
서울 광진구       94342
서울 도봉구       93668
대구 동구        78802
서울 강북구       70605
서울 성북구       57803
서울 동작구       53804
경상북도 영주      53413
서울 성동구       50468
서울 서대문구      49427
서울 관악구       46613
대전 유성구       43758
서울 마포구       41845
서울 서초구       41563
서울 영등포구      34123
서울 중랑구       31698
서울 용산구       31535
서울 종로구       29077
서울 강서구       28985
서울 강동구       23653
서울 중구        21671
서울 은평구       20877
서울 구로구       15489
서울 양천구        9987
서울 금천구        9676
충청남도 천안       8979
전라남도 영광       8821
세종 장군         7691
충청북도          6481
강원도 철원        4112
Name: 거주지역, dtype: int64

In [42]:
ddf[ddf['제휴사']=='B'].거주지역.value_counts()

경기 김포시     4285392
서울 송파구     1262563
인천 계양구     1171862
부산 기장      1102323
경상남도 함양     587204
서울 노원구      513300
전라북도 군산     501863
경상북도 영주     373138
광주 북구       340253
충청북도        337448
대전 유성구      303163
서울 광진구      303017
서울 성동구      292248
충청남도 천안     284529
전라남도 영광     219059
강원도 철원      181922
서울 동대문구     158352
대구 동구       114907
서울 강북구      100496
서울 강남구       98927
울산 동구        75812
서울 용산구       70049
서울 도봉구       68249
서울 강서구       62593
서울 마포구       59495
서울 서대문구      42591
서울 강동구       38881
서울 영등포구      37107
서울 구로구       34938
서울 중구        30235
세종 장군        27741
서울 성북구       26927
서울 관악구       21003
서울 금천구       20826
서울 중랑구       20022
서울 동작구       18937
서울 서초구       18834
서울 은평구       17656
서울 양천구       14140
서울 종로구       13916
Name: 거주지역, dtype: int64

In [43]:
ddf[ddf['제휴사']=='C'].거주지역.value_counts()

경기 김포시     3027738
부산 기장       664382
광주 북구       513207
인천 계양구      375912
경상남도 함양     372998
전라남도 영광     369596
서울 송파구      365731
서울 강남구      340666
대구 동구       292718
서울 동대문구     280054
충청북도        275410
서울 노원구      224404
전라북도 군산     219669
대전 유성구      213220
서울 강서구      210991
경상북도 영주     161304
강원도 철원      141848
서울 서초구      117796
충청남도 천안     113187
서울 서대문구     113145
서울 도봉구      102258
서울 성동구       89742
서울 은평구       88810
서울 영등포구      75639
서울 광진구       66630
서울 강북구       58797
서울 성북구       58352
울산 동구        48935
서울 마포구       48175
서울 구로구       43565
서울 양천구       41010
서울 용산구       36911
서울 강동구       32319
서울 종로구       29289
서울 관악구       21382
서울 중랑구       19158
서울 동작구       17796
서울 금천구       16085
서울 중구        14690
세종 장군        13575
Name: 거주지역, dtype: int64

In [44]:
ddf[ddf['제휴사']=='D'].거주지역.value_counts()

경기 김포시     37153
부산 기장       8036
서울 송파구      7001
인천 계양구      6548
서울 성동구      4052
서울 성북구      3272
서울 노원구      2700
서울 동작구      2558
서울 동대문구     2544
서울 관악구      2535
서울 광진구      2506
서울 마포구      2243
서울 은평구      2223
서울 강북구      2221
서울 서대문구     2017
서울 도봉구      1886
서울 강남구      1807
서울 종로구      1447
경상남도 함양     1423
대구 동구       1249
서울 용산구      1183
서울 강동구      1063
서울 강서구      1060
서울 중랑구       851
서울 양천구       829
서울 영등포구      734
울산 동구        547
광주 북구        482
서울 서초구       421
서울 구로구       407
충청북도         388
전라남도 영광      303
서울 중구        211
전라북도 군산      189
경상북도 영주      188
대전 유성구       161
강원도 철원       148
충청남도 천안       71
세종 장군         44
서울 금천구        43
Name: 거주지역, dtype: int64

In [45]:
ddf[ddf['거주지역']=='경기 김포시'].구매금액.sum()

# 1900억 /2 == 800억 (1년평균)

# 롯데마트 지난해 연간 매출액은 6조390억원 / 롯데마트 점포수 전국 123개... =
# 롯데마트 점포별 평균 매출액 약 52억원 
# 경기도 김포에 롯데마트 한 개 밖에 없음...  --> 1900억이 될 수가 없음.. 

# 제휴사 A 는 롯데백화점인데 , 경기도 김포에는 롯데백화점 없음 
# 제휴사 A~D까지 모두 매출 압도적 1위 ----> 롯데몰이 있다고 볼 수 밖에 없음 
# 롯데몰이 있는 김포공항- 서울 강서구는 매출이 낮음. 롯데몰이 있다고 보기 어려움 
# 따라서 경기도 김포는 코드가 잘못쓰여져 있는 것으로 판단됨 >> 경기도 김포->김포공항(서울시 강서구)

191014804616

In [46]:
# ddf.to_pickle('dataset/purprd_cust.pkl')