In [7]:
import pandas as pd
titanic_df = pd.read_csv('dataset/train.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
from sklearn import preprocessing
def encode_features(dataDF):
    features = ['Cabin','Sex','Embarked']
    for feature in features：
        le = preprocessing.LabelEncoder()
        le = le.fit(dataDF[feature])
        dataDF[feature] = le.transform(dataDF[feature])
    return dataDF
titanic_df = encode_features(titanic_df)
titanic_df.head()

SyntaxError: invalid character in identifier (<ipython-input-14-3af37e5d8d74>, line 4)

In [4]:
# Null 처리 함수
def fillna(df)：
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df [ 'Cabin' l.fillna('N', inplace=True)
    df['Embarked'].fillna('N', inplace=True)
    df['Fare'].fillna(0 inplace=True)
    return df
# 머신러닝 알고리즘에 불필요한 속성 제거
def drop_features(df)：
    df.drop(['Passengerld', 'Name', 'Ticket'], axis=1, inplace=True)
    return df
# 레이블 인코딩 수행.
def format_features(df)：
    df['Cabin*] = df['Cabin'],str[：1 ]
    features = ['Cabin', 'Sex', 'Embarked']
    for feature in features：
        le = LabelEncoder()
        le = le.fit(df[feature])
        df[feature] = le.transform(df[feature])
    return df
# 앞에서 설정한 데이터 전처리 함수 호출
def transform_features(df)：
    df = fillna(df)
    df = drop_features(df)
    df = format_features(df)
    return df

SyntaxError: invalid character in identifier (<ipython-input-4-4ef4c7c97909>, line 2)